 {% extends 'wss/base.html' %}
{% load static %}
{% load legoo_tag %}
{% block title_block %}车险详情{% endblock %}

{% block container_block %}
<!--  检测手机返回按钮-->
<script type="text/javascript">
pushHistory(); 
window.addEventListener("popstate", function(e) { 
    //alert("我监听到了浏览器的返回按钮事件啦");//根据自己的需求实现自己的功能 
    close_window()
}, false); 

function pushHistory() { 
    var state = { 
        title: "title", 
        url: "#"
    }; 
    window.history.pushState(state, "title", "#"); 
}
</script>
<!-- 检测手机返回按钮结束 -->
<div class="top">
	<table class="tabel" border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
					<td width="20%" valign="middle">
							<!-- <a class="btn1" onclick="history.go(-1)"><i class="fa fa-chevron-left"></i></a> -->
							<a class="btn1" href="{{history_url}}"><i class="fa fa-chevron-left"></i></a>
					</td>
					<td class="wz" width="60%" valign="middle" align="center">
							<span id="toptitle">
							  {% if  order.state == 'verify' %}
									<i class="fa   fa-file-text"></i>&nbsp;<strong>投保基本信息</strong>
							  {% else %}
									<i class="fa   fa-file-text"></i>&nbsp;<strong>机动车保险订单详情</strong>
							  {% endif %}
							</span>
					</td>
					<td width="20%" valign="middle" align="right">
					<a id="aso" href="#"></a>
					</td>
			</tr>
		</tbody>
	</table>
</div>
 <div style="height:40px;"></div>
 <form id="check_info" method="POST" action="/wss/insure/insurance_period/">{% csrf_token %}
            <div class="weui_cells wss_p">
	          <div class="weui_cell wss_dashed_bottom">
	            <div class="weui_cell_bd weui_cell_primary">
	                <p>【订单号】</p>
	            </div>
	            <div class="weui_cell_ft">{{ order.paper_id }}</div>
	          </div>
	          <div class="weui_cell " >
	            <div class="weui_cell_bd weui_cell_primary">
	                <p>【订单状态】</p>
	            </div>
	            <div class="weui_cell_ft">{{ order.state|WX_OrderState }}</div>
	         </div>
          </div>
             <div class="weui_cells_title weui_navbar_item" style="text-align: left; background-color: #F3F3F3;color:#5172D5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-paw" ></i>车辆信息</div>
          <div class="weui_cells wss_p">
                  {% if  order.plate_number %}
		          <div class="weui_cell wss_dashed_bottom">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>【车牌号】</p>
		                </div>
		                <div class="weui_cell_ft">{{ order.plate_number}}</div>
		          </div>
		          {% endif %}
		          <div class="weui_cell wss_dashed_bottom">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>【车辆所在城市】</p>
		                </div>
		                <div class="weui_cell_ft">{{ order.city.name}}</div>
		          </div> 
		          <div class="weui_cell wss_dashed_bottom ">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>【车辆类型】</p>
		                </div>
		                <div class="weui_cell_ft">{{ order.order_car_type|WX_CarType}}</div>
		           </div>
		           <a class="weui_cell weui_cells_access " href="{% url 'wss:driving_license_pic' order.id %}?type=plate">
	                    <div class="weui_cell_bd weui_cell_primary">
	                        <p><font color="#000">【行驶证图片】</font></p>
	                    </div>
	                    <div class="weui_cell_ft">查看</div>
	                </a>
           </div>   
               <div class="weui_cells_title weui_navbar_item" style="text-align: left; background-color: #F3F3F3;color:#5172D5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-paw" ></i>投保人与被保人信息</div>
       <div class="weui_cells wss_p">
		         <div class="weui_cell wss_dashed_bottom">
         		                <div class="weui_cell_bd weui_cell_primary">
                                          <p>【投保人名称】</p>
                                </div>
		                    {% if  order.user_classify == 'personal' %}
		                                <div class="weui_cell_ft">
		                                	<a onclick='alert("{{  order.applicant_name }}")'>{{ order.applicant_name|String_Interception }}</a>
		                                </div>
		                     {% endif %}
		                      {% if order.user_classify == 'unit' %}
		                                <div class="weui_cell_ft">
		                                	<a onclick='alert("{{ order.applicant_company_name }}")'>{{ order.applicant_company_name|String_Interception }}</a>
		                                </div>
		                     {% endif %}
		         </div>
		         <div class="weui_cell wss_dashed_bottom">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>【投保人电话】</p>
		                </div>
		                <div class="weui_cell_ft">{{ order.applicant_phone }}</div>
		         </div>
	                {% if  order.user_classify == 'personal' %}
	                <a class="weui_cell weui_cells_access wss_dashed_bottom" href="{% url 'wss:driving_license_pic' order.id %}?type=tbr_id_card ">
		                    <div class="weui_cell_bd weui_cell_primary">
		                        <p><font color="#000">【投保人身份证】</font></p>
		                    </div>
		                    <div class="weui_cell_ft">查看</div>
                    </a>
	                {% endif %}
	                {% if order.user_classify == 'unit' %}
	                   <a class="weui_cell weui_cells_access wss_dashed_bottom " href="{% url 'wss:driving_license_pic' order.id %}?type=tbr_license_image ">
		                    <div class="weui_cell_bd weui_cell_primary">
		                        <p><font color="#000">【营业执照/组织机构代码证】</font></p>
		                    </div>
		                    <div class="weui_cell_ft">查看</div>
                    </a>
	                {% endif %}  
		         <div class="weui_cell wss_dashed_bottom">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>【被保人名称】</p>
		                </div>
		                <div class="weui_cell_ft">
		                	<a onclick='alert("{{ order.insured_name }}")'>{{ order.insured_name|String_Interception }}</a>
		                </div>
		         </div>
		         <div class="weui_cell wss_dashed_bottom">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>【被保人电话】</p>
		                </div>
		                <div class="weui_cell_ft">{{ order.insured_phone }}</div>
		         </div>
		         {% if order.city.code != '1101' %}
		         <div class="weui_cell ">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>【保单邮寄地址】</p>
		                </div>
		          </div>  
		          
		          <div class="weui_cell  wss_dashed_bottom"> 
		                <div class="weui_cell_bd weui_cell_primary">{{ order.mail_address }}{{ order.policy_address }}</div>
		          </div>
		          {% endif %}
		          {% if  order.insured_classify == 'personal' %}
	                <a class="weui_cell weui_cells_access " href="{% url 'wss:driving_license_pic' order.id %}?type=bbr_id_card">
		                    <div class="weui_cell_bd weui_cell_primary">
		                        <p><font color="#000">【被保人身份证】</font></p>
		                    </div>
		                    <div class="weui_cell_ft">查看</div>
                    </a>
	                {% endif %}
	                {% if order.insured_classify == 'unit' %}
	                   <a class="weui_cell weui_cells_access  " href="{% url 'wss:driving_license_pic' order.id %}?type=bbr_license_image">
		                    <div class="weui_cell_bd weui_cell_primary">
		                        <p><font color="#000">【营业执照/组织机构代码证】</font></p>
		                    </div>
		                    <div class="weui_cell_ft">查看</div>
                    </a>
	                {% endif %}          
		   </div>  
		   <div class="weui_cells_title weui_navbar_item" style="text-align: left; background-color: #F3F3F3;color:#5172D5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-paw" ></i>已投保险种</div>
		   <div class="weui_cells wss_p" >
	    	    <table class="bordered"  style="width:100%;text-align: center;">    
						{% if order.liability_state == True%}
						<tr>
								<td style="text-align: center;">交强险</td>
								<td style="text-align: center;">{% if order.state == 'wait' or order.state == 'init' or  order.state == 'paid' or  order.state == 'done'  %}{{ intermediary.liability_price|FenToYuan}}元{% else%}报价中{% endif %}</td>
						</tr>
						 {% endif %}
						{% if order.vehicle_vessel_tax_state == True%}
						<tr>
								<td style="text-align: center;">车船税</td>
							    <td style="text-align: center;">{% if order.state == 'wait' or order.state == 'init' or  order.state == 'paid' or  order.state == 'done'  %}{{ intermediary.vehicle_vessel_price|FenToYuan}}元{% else%}报价中{% endif %}</td>
						</tr>
						 {% endif %}
						{% if order.third_insurance != 0%}
						<tr>
								<td  style="text-align: center;">三者险{{ order.third_insurance|Coverage_Price }}</td>
								<td style="text-align: center;" >{% if order.state == 'wait' or order.state == 'init' or  order.state == 'paid' or  order.state == 'done'  %}{{ intermediary.third_insurance_price|FenToYuan}}元{% else%}报价中{% endif %}</td>
						</tr>
						 {% endif %}
						{% if order.damage_insurance == True%}
						<tr>
								<td style="text-align: center;">车损险</td>
								<td style="text-align: center;">{% if order.state == 'wait' or order.state == 'init' or  order.state == 'paid' or  order.state == 'done'  %}{{ intermediary.damage_insurance_price|FenToYuan}}元{% else%}报价中{% endif %}</td>
						</tr>
						 {% endif %}
						 {% if order.glass_insurance != 'no'%}
						<tr>
								  <td style="text-align: center;">玻璃险({{ order.glass_insurance|WX_GlassInsurance }})</td>
								  <td style="text-align: center;">{% if order.state == 'wait' or order.state == 'init' or  order.state == 'paid' or  order.state == 'done'  %}{{ intermediary.glass_insurance_price|FenToYuan}}元{% else%}报价中{% endif %}</td>
						</tr>
						 {% endif %}
						 {% if order.driver_insurance != 0%}
						<tr>
								<td style="text-align: center;">司机险{{ order.driver_insurance|Coverage_Price}}</td>
								<td style="text-align: center;">{% if order.state == 'wait' or order.state == 'init' or  order.state == 'paid' or  order.state == 'done'  %}{{ intermediary.driver_insurance_price|FenToYuan}}元{% else%}报价中{% endif %}</td>
						</tr>
						 {% endif %}
						 {% if order.theft_insurance == True%}
						<tr>
								<td style="text-align: center;" >盗抢险</td>
								<td style="text-align: center;">{% if order.state == 'wait' or order.state == 'init' or  order.state == 'paid' or  order.state == 'done'  %}{{ intermediary.theft_insurance_price|FenToYuan}}元{% else%}报价中{% endif %}</td>
						</tr>
						 {% endif %}
						 {% if order.passenger_insurance != 0%}
						<tr>
								<td style="text-align: center;">乘客险{{ order.passenger_insurance|Coverage_Price}}</td>
								<td  style="text-align: center;">{% if order.state == 'wait' or order.state == 'init' or  order.state == 'paid' or  order.state == 'done'  %}{{ intermediary.passenger_insurance_price|FenToYuan}}元{% else%}报价中{% endif %}</td>
						</tr>
						 {% endif %}
						 {% if order.iop_insurance == True%}
						<tr>
								<td style="text-align: center;">不计免赔险</td>
								<td style="text-align: center;">{% if order.state == 'wait' or order.state == 'init' or  order.state == 'paid' or  order.state == 'done'  %}{{ intermediary.iop_insurance_price|FenToYuan}}元{% else%}报价中{% endif %}</td>
						</tr>
						 {% endif %}
						 {% if order.autoignition_insurance == True%}
						<tr>
								<td style="text-align: center;">自燃损失</td>
								<td style="text-align: center;">{% if order.state == 'wait' or order.state == 'init' or  order.state == 'paid' or  order.state == 'done'  %}{{ intermediary.autoignition_insurance_price|FenToYuan}}元{% else%}报价中{% endif %}</td>
						</tr>
						 {% endif %}
						 {% if order.wading_insurance == True%}
						<tr>
								<td style="text-align: center;">涉水险</td>
								<td style="text-align: center;">{% if order.state == 'wait' or order.state == 'init' or  order.state == 'paid' or  order.state == 'done'  %}{{ intermediary.wading_insurance_price|FenToYuan}}元{% else%}报价中{% endif %}</td>
						</tr>
						 {% endif %}
						 
						  {% if order.scratch_insurance != 0%}
						<tr>
								<td style="text-align: center;">划痕险{{ order.scratch_insurance|Coverage_Price }}</td>
								<td style="text-align: center;">{% if order.state == 'wait' or order.state == 'init' or  order.state == 'paid' or  order.state == 'done'  %}{{ intermediary.scratch_insurance_price|FenToYuan}}元{% else%}报价中{% endif %}</td>
						</tr>
						 {% endif %}
						 {% if order.special_agreement %}
						<tr>
								<td style="text-align: center;">特别约定</td>
								<td style="text-align: center;word-wrap:break-word;word-break:break-all;">{{ order.special_agreement }}</td>
						</tr>
						 {% endif %}
			
				</table>
	    </div>
           <div class="weui_cells_title weui_navbar_item" style="text-align: left; background-color: #F3F3F3;color:#5172D5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-paw" ></i>保险公司与保险信息</div>
           <div class="weui_cells wss_p">
           
              {% if  order.state == 'wait' or order.state == 'init'  or order.state == 'paid' or order.state == 'done'  %}
               <div class="weui_cell wss_dashed_bottom">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>【保险公司名称】</p>
		                </div>
		                <div class="weui_cell_ft">{{ intermediary.company.name}}</div>
		           </div>
		           <div class="weui_cell wss_dashed_bottom">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>【保费金额】</p>
		                </div>
		                <div class="weui_cell_ft">{{ intermediary.order_price_all|FenToYuan}}元</div>
		           </div>
		            <div class="weui_cell wss_dashed_bottom">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>【优惠金额】</p>
		                </div>
		                <div class="weui_cell_ft">{{ discount_price|FenToYuan}}元</div>
		           </div>
		           <div class="weui_cell wss_dashed_bottom">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>【订单费用】</p>
		                </div>
		                <div class="weui_cell_ft">{{ intermediary.order_price_add_profit|FenToYuan}}元</div>
		           </div>
		           {% if order.state == 'done' %} 
              		<div class="weui_cell wss_dashed_bottom">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>【报案电话】</p>
		                </div>
		                <div class="weui_cell_ft">{{order.insurance_intermediary.intermediary_phone}}</div>
		           </div>
		           {% endif %}
              {% else %}
                  {% if  order.company%}
		           <div class="weui_cell wss_dashed_bottom">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>【保险公司名称】</p>
		                </div>
		                <div class="weui_cell_ft">{{ order.company.name}}</div>
		           </div>
		          {% endif %}
		          {% if  order.price%}
		           <div class="weui_cell wss_dashed_bottom">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>【保费总价】</p>
		                </div>
		                <div class="weui_cell_ft">{{ order.price |FenToYuan}}元</div>
		           </div>
		          
		          {% endif %}
		         {% endif %}
		          {% if date_state == 'edit' %}
		          {% if order.commercial_expectStartTime%}
		          <div class="weui_cell wss_dashed_bottom">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>【商业险保单生效日期】</p>
		                </div>
		                <div class="weui_cell_ft">{{ order.commercial_expectStartTime|date:'Y年m月d日' }}</div>
		         </div>
		          {% endif %}
		           {% if order.liability_expectStartTime%}
		          <div class="weui_cell wss_dashed_bottom">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>【交强险保单生效日期】</p>
		                </div>
		                <div class="weui_cell_ft">{{ order.liability_expectStartTime|date:'Y年m月d日'}}</div>
		         </div>
		          {% endif %}
		            {% else %}
		         {% if order.commercial_expectStartTime%}
		          <div class="weui_cell wss_dashed_bottom">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>【商业险保单生效日期】</p>
		                </div>
		                <div class="weui_cell_ft">{{ order.commercial_expectStartTime |date:'Y年m月d日'}}</div>
		         </div>
		          {% endif %}
		           {% if order.liability_expectStartTime%}
		          <div class="weui_cell wss_dashed_bottom">
		                <div class="weui_cell_bd weui_cell_primary">
		                    <p>【交强险保单生效日期】</p>
		                </div>
		                <div class="weui_cell_ft">{{ order.liability_expectStartTime|date:'Y年m月d日'}}</div>
		         </div>
		          {% endif %}
           {% endif %}
          	{% if order.state == 'fail' %}
	         <div class="weui_cell  wss_dashed_bottom" >
	            <div class="weui_cell_bd weui_cell_primary">
	                <p>【驳回原因】</p>
	            </div>
	            <div class="weui_cell_ft">{{ order.fail_reason}}</div>
	         </div>
	         {% endif %}
	         
	        {% if  order.state == 'done' %}
	        
	         {% if  order.commercial_image_list %}
	          <div class="weui_cell wss_dashed_bottom">
	            <div class="weui_cell_bd weui_cell_primary">
	                <p>【商业险保单号】</p>
	            </div>
	            <div class="weui_cell_ft">{{ order.commercial_id}}</div>
	         </div>
			 	{% if order.commercial_up_state == 'picture' %}			
					   <div class="weui_cell  weui_cells_access wss_dashed_bottom">
			            	<div class="weui_cell_bd weui_cell_primary">
			                <p>【商业险电子保单图片】</p>
			                </div>
			                <div class="weui_cell_ft"> <a href="{% url 'wss:driving_license_pic' order.id %}?type=syx_picture" >查看</a></div>
			               
					 </div>	
					 {% elif order.commercial_up_state == 'pdf' %}
						 <div class="weui_cell weui_cells_access wss_dashed_bottom">
				            	<div class="weui_cell_bd weui_cell_primary">
				                <p>【商业险电子保单文件】</p>
				                </div>
				                {% for image_detail in order.commercial_image_list %}
				                	<!-- <a class="weui_cell_ft" href="{% static '' %}{{ image_detail }}" download="{{ order.paper_id }}交强险保单下载.pdf">文件详情</a> -->
				                	<a class="weui_cell_ft"  href="{% static '' %}{{ image_detail }}" >查看</a>
				                {% endfor %}
						 </div>	
					 {% elif order.commercial_up_state == 'web_url' %}
						 <div class="weui_cell  weui_cells_access wss_dashed_bottom">
				            	<div class="weui_cell_bd weui_cell_primary">
				                <p>【商业险电子保单地址】</p>
				                </div>
				                {% for image_detail in order.commercial_image_list %}
				               		 <a href="{{image_detail}}" class="weui_cell_ft" >查看</a>
				                {% endfor %}
						 </div>	
					 {% endif %}
			 {% endif %}
			 
			  {% if  order.liability_image_list %}
			  <div class="weui_cell wss_dashed_bottom ">
	            <div class="weui_cell_bd weui_cell_primary">
	                <p>【交强险保单号】</p>
	            </div>
	            <div class="weui_cell_ft">{{ order.liability_id }}</div>
	         </div>	
		         	{% if order.liability_up_state == 'picture' %}			
					   <div class="weui_cell weui_cells_access wss_dashed_bottom">
			            	<div class="weui_cell_bd weui_cell_primary">
			                <p>【交强险电子保单图片】</p>
			                </div>
			                <a href="{% url 'wss:driving_license_pic' order.id %}?type=jqx_picture" class="weui_cell_ft" id="pb1">查看</a>
					 </div>	
					 {% elif order.liability_up_state == 'pdf' %}
						 <div class="weui_cell weui_cells_access wss_dashed_bottom">
				            	<div class="weui_cell_bd weui_cell_primary">
				                <p>【交强险电子保单文件】</p>
				                </div>
				                {% for image_detail in order.liability_image_list %}
				                	<!-- <a class="weui_cell_ft" href="{% static '' %}{{ image_detail }}" download="{{ order.paper_id }}交强险保单下载.pdf">文件详情</a> -->
				                	<a class="weui_cell_ft"  href="{% static '' %}{{ image_detail }}" >查看</a>
				                {% endfor %}
						 </div>	
					 {% elif order.liability_up_state == 'web_url' %}
						 <div class="weui_cell weui_cells_access wss_dashed_bottom">
				            	<div class="weui_cell_bd weui_cell_primary">
				                <p>【交强险电子保单地址】</p>
				                </div>
				                {% for image_detail in order.liability_image_list %}
				               		 <a href="{{image_detail}}" class="weui_cell_ft" >查看</a>
				                {% endfor %}
						 </div>	
					 {% endif %}
			  {% endif %}
	         {% endif %}
	  </div>
	     {% if  order.state == 'verify' %}
 <div style="height:85px;"></div>
<div style=" width: 100%; position: fixed;  bottom: 0px;z-index: 1; ">
        <div class="weui_cells  wss_btn" style="background-color:#cccc98;color:#FFF;" >
		        <a class="weui_cells_access weui_cell wss_btn" href="tel:15910731868"  >
		            <div class="weui_cell_bd weui_cell_primary">
		                <p><i class="fa  fa-phone-square"></i>运之宝客服电话</p>
		            </div>
		            <div class="weui_cell_ft wss_btn" >15910731868</div>
		        </a>
    </div>
    </div>
{% endif %}
  {% if  order.state == 'wait' %}
      <div style="height:85px;"></div>
      <div class="weui_tabbar" style=" width: 100%; position: fixed;  bottom: 0px;z-index: 999;">
<!--          <a href="{% url 'wss:jdclbx_confirm_insurance' intermediary.id %}" class="weui_tabbar_item weui_bar_item_on" onclick="return start_prompt();" >
          <div class="weui_tabbar_icon" style="color:#5172D5;">
            <i class="fa fa-check-square-o"></i>
          </div>
          <p class="weui_tabbar_label">确认投保</p>
        </a> -->
        <a class="weui_tabbar_item weui_bar_item_on " id ='show_qrtb'>
            <div class="weui_tabbar_icon" style="color:#5172D5;">
	            <i class="fa fa-check-square-o"></i>
	          </div>
          <p class="weui_tabbar_label">确认投保</p>
       </a>
       <!--  <a href="{% url 'wss:jdclbx_edit_list'  order.id  %}" class="weui_tabbar_item weui_bar_item_on">
          <div class="weui_tabbar_icon" style="color:#5172D5;">
           <i class="fa fa-edit"></i>
          </div>
          <p class="weui_tabbar_label">修改订单</p>
        </a> -->
        <a href="{% url 'wss:jdclbx_order_edit_new'  order.id  %}" class="weui_tabbar_item weui_bar_item_on">
          <div class="weui_tabbar_icon" style="color:#5172D5;">
           <i class="fa fa-edit"></i>
          </div>
          <p class="weui_tabbar_label">修改订单</p>
        </a>
<!--         <a href="{% url 'wss:jdclbx_order_delete' order.id %}" class="weui_tabbar_item weui_bar_item_on">
          <div class="weui_tabbar_icon" style="color:#5172D5;">
            <i class="fa fa-trash-o"></i>
          </div>
          <p class="weui_tabbar_label">删除订单</p>
        </a> -->
        
        <a class="weui_tabbar_item weui_bar_item_on " id ='show_delete'>
            <div class="weui_tabbar_icon" style="color:#5172D5;">
	            <i class="fa fa-check-square-o"></i>
	          </div>
          <p class="weui_tabbar_label">删除订单</p>
       </a>
      </div> 
      {% endif %}
       {% if  order.state == 'init' %}
       <div style="height:85px;"></div>
      <div class="weui_tabbar" style=" width: 100%; position: fixed;  bottom: 0px;z-index: 999;">
	   <a href="tel:15910731868"  class="weui_tabbar_item weui_bar_item_on wss_btn" style="color:#FFF;">
          <div class="weui_tabbar_icon" >
            <i class="fa fa-phone-square"></i>
          </div>
          <p class="weui_tabbar_label" style="color:#FFF;">车险支付客服电话</p>
        </a>
        <a class="weui_tabbar_item weui_bar_item_on " id ='show_delete'>
            <div class="weui_tabbar_icon" style="color:#5172D5;">
	            <i class="fa fa-check-square-o"></i>
	          </div>
          <p class="weui_tabbar_label">删除订单</p>
       </a>
      </div> 
      {% endif %}
      
      {% if order.state == 'fail' %}
       <div style="height:85px;"></div>
      <div class="weui_tabbar" style=" width: 100%; position: fixed;  bottom: 0px;z-index: 999;">
        <a href="{% url 'wss:jdclbx_order_edit_new'  order.id  %}" class="weui_tabbar_item weui_bar_item_on">
          <div class="weui_tabbar_icon" style="color:#5172D5;">
           <i class="fa fa-edit"></i>
          </div>
          <p class="weui_tabbar_label">修改订单</p>
        </a>
        <a class="weui_tabbar_item weui_bar_item_on " id ='show_delete'>
            <div class="weui_tabbar_icon" style="color:#5172D5;">
	            <i class="fa fa-check-square-o"></i>
	          </div>
          <p class="weui_tabbar_label">删除订单</p>
       </a>
      </div> 
      
      {% endif %}
      <!-- {% if  order.state == 'init' %}
      <div class="weui_tabbar" style=" width: 100%; position: fixed;  bottom: 0px;z-index: 999;">
        <a href="{% url 'wss:jdclbx_confirm_pay' order.id %}" class="weui_tabbar_item weui_bar_item_on" onclick="return start_prompt();" >
          <div class="weui_tabbar_icon" style="color:#5172D5;">
            <i class="fa fa-check-square-o"></i>
          </div>
          <p class="weui_tabbar_label">支付订单</p>
        </a>
        <a href="{% url 'wss:order_edit'  order.id  %}" class="weui_tabbar_item weui_bar_item_on">
          <div class="weui_tabbar_icon" style="color:#5172D5;">
           <i class="fa fa-edit"></i>
          </div>
          <p class="weui_tabbar_label">修改订单</p>
        </a>
        <a href="{% url 'wss:order_delete' order.id %}" class="weui_tabbar_item weui_bar_item_on">
          <div class="weui_tabbar_icon" style="color:#5172D5;">
            <i class="fa fa-trash-o"></i>
          </div>
          <p class="weui_tabbar_label">删除订单</p>
        </a>
      </div> 
      {% endif %} -->
 </form>
 
 {# 付款模态框 #}
 
{#*********************确认投保提示框***************#}
  {% if  order.state == 'wait' %}
    <div id="id_message_id" class="row control-show">
		<div class="weui_dialog_alert">
		        <div class="weui_mask"></div>
		        <div class="weui_dialog">
		            <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示</strong></div>
		            <div class="weui_dialog_bd">确认投保后订单信息不可修改!</div>
		            <div class="weui_dialog_ft">
		            	<a  href="{% url 'wss:jdclbx_confirm_insurance' intermediary.id %}"  class="weui_btn_dialog primary">确认投保</a>
		                <a onclick="$('#id_message_id').addClass('control-show');" class="weui_btn_dialog primary">取消</a>
		            </div>
		        </div>
		    </div>
    </div>
{% endif %}
{#*********************结束***************#}

{#*********************确认删除订单提示框***************#}
    <div id="id_delete_id" class="row control-show">
		<div class="weui_dialog_alert">
		        <div class="weui_mask"></div>
		        <div class="weui_dialog">
		            <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示</strong></div>
		            <div class="weui_dialog_bd">确认删除后订单信息不可恢复!</div>
		            <div class="weui_dialog_ft">
		            	<a  href="{% url 'wss:jdclbx_order_delete' order.id %}"  class="weui_btn_dialog primary">确认删除</a>
		                <a onclick="$('#id_delete_id').addClass('control-show');" class="weui_btn_dialog primary">取消</a>
		            </div>
		        </div>
		    </div>
    </div>
{#*********************结束***************#}

{% endblock %}
{% block script_block %}
{#    对于页面中的Page需要使用对应的js来控制页面跳转#}
<script src="{% static 'js/jquery-2.1.4.js' %}"></script> 
<script src="{% static 'js/fastclick.js' %}"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
});
</script>
<script src="{% static 'js/jquery-weui.js' %}"></script> 
<script src="{% static 'js/swiper.js' %}"></script>
<script>
    $( "#show-info" ).click(function() {
 /*    	alert("请选择产品类型111"); */
    	$("#dialog").dialog();
       /*  var cover=document.getElementById('dialog');
        cover.style.display='dialog'; */
      });
$("#jiao_start_date").calendar({
	onChange: function (p, values, displayValues) {
      console.log(values, displayValues);
    }
  });
$("#shang_start_date").calendar({
	onChange: function (p, values, displayValues) {
      console.log(values, displayValues);
    }
  });
  
  /* 测试‘确认投保 */
  $( "#show_qrtb" ).click(function() {
         $('#id_message_id').removeClass('control-show');
      });
  /* 测试‘删除订单 */
  $( "#show_delete" ).click(function() {
         $('#id_delete_id').removeClass('control-show');
      });

</script> 
<script>
/* 
var pb1 = $.photoBrowser({
    items: {{shangye_pic_list |safe }},

    onSlideChange: function(index) {
      console.log(this, index);
    },

    onOpen: function() {
      console.log("onOpen", this);
    },
    onClose: function() {
      console.log("onClose", this);
    }
  });
  $("#pb1").click(function() {
    pb1.open();
  }); 
  

  
  var pb2 = $.photoBrowser({
      items: {{jiaoqiang_pic_list |safe }},

      onSlideChange: function(index) {
        console.log(this, index);
      },

      onOpen: function() {
        console.log("onOpen", this);
      },
      onClose: function() {
        console.log("onClose", this);
      }
    });
    $("#pb2").click(function() {
      pb2.open();
    }); */
    


    </script>
{% endblock %}