{% extends 'wss/base.html' %}
{% load static %}
{% load legoo_tag %}
{% block title_block %}投保{% endblock %}

{% block container_block %}
<style> 
.black_overlay{ 
 display: none;  position: absolute;
top: 0%;  left: 0%;  width: 100%;
height: 175%;  background-color: black; 
z-index:1001;  -moz-opacity: 0.8;  opacity:.80; 
filter: alpha(opacity=80); 
 } 
 .white_content {  
display: none;  position: absolute; 
top: 25%;  left: 10%;  width: 70%;  height: 50%;  
padding: 8px;  border: 4px solid  	#c7e4b0;  
background-color: white; 
 z-index:1002;  overflow: auto;  
 } 
  </style> 
{% if message %}
    <div class="weui_dialog_alert">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示</strong></div>
            <div class="weui_dialog_bd">{{ message }}</div>
            <div class="weui_dialog_ft">
                <a onclick="close_dialog();" class="weui_btn_dialog primary">确定</a>
            </div>
        </div>
    </div>
{% endif %}
<div id="fade" class="black_overlay"> </div>
<div class="top">
	<table class="tabel" border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
					<td width="23%" valign="middle">
							<a class="btn1" onclick="history.go(-1)"><i class="fa fa-chevron-left"></i></a>
					</td>
					<td class="wz" width="53%" valign="middle" align="center">
							<span id="toptitle">
									<i class="fa    fa-th-list"></i>&nbsp;<strong>投保</strong>
							</span>
					</td>
					<td width="23%" valign="middle" align="right">
					<a id="aso" href="#"></a>
					</td>
			</tr>
		</tbody>
	</table>
</div>

<form id="wss_register_form" method="post" action="{% url 'wss:order_submit_update' %}" enctype="multipart/form-data" style="padding-top:30px;">{% csrf_token %}
     {#测试div弹出框#}
<!--         <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">点击这里打开窗口</a> -->
        <div id="light" class="white_content"> 
		     {% for product_rate in insurance_product.product_rate_list%}
                    <div class="form-group" id="wx_{{product_rate.good_type}}">
                     <div>{{product_rate.good_type}}</div>
	                     {% for product_cargo  in  product_cargo_set %}
		                     {% if product_cargo.state == product_rate.good_type %}
		                      <div class="col-sm-6"style="margin-bottom:2px">
		                    {#  {{product_cargo.cargo.cargo_number}}：{{product_cargo.cargo.cargo_name}}#}
		                    <input name="radio1" type="radio" value="{{product_cargo.cargo.cargo_number}}">{{product_cargo.cargo.cargo_number}}：{{product_cargo.cargo.cargo_name}}
		                      </div>
		                     {% endif %}
	                     {% endfor %}
                     
                    </div>
                    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1></br>
                    {% endfor %}
<!-- 		    <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"> 
		    Close</a> -->
<!-- 		    <a href="#" onclick="checks();"> Close</a>  -->
		    <div class="weui_tab" style="position: relative;height: 30px;">
			            <div class="weui_navbar" style="display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;position: absolute;top: 0;width: 100%;background-color: #fafafa;">
			                <div onclick="checks()"  class="weui_navbar_item weui_bar_item_on" style="border-right: 1px solid #cccccc;position: relative;display: block;-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;padding: 13px 0;text-align: center;font-size: 15px;-webkit-tap-highlight-color: transparent;">
			                    提交
			                </div>
			                <div onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'" class="weui_navbar_item" style="border-right: 1px solid #cccccc;position: relative;display: block;-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;padding: 13px 0;text-align: center;font-size: 15px;-webkit-tap-highlight-color: transparent;">
			                    关闭
			                </div>
			            </div>
			         </div>

	    </div> 
    <input id="id_product_id" name="product_id" type="hidden" value="{{ product_id }}">
    <div class="weui_cells wss_p">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p class=“wss_p”>【产品名称】</p>
            </div>
            <div class="weui_cell_ft wss_p">{{insurance_product.name}}</div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p class=“wss_p”>【产品类型】</p>
            </div>
            <div class="weui_cell_ft wss_p">
	            {% if insurance_product.product_type == 'batch' %}车次保险{% endif %}
	            {% if insurance_product.product_type == 'ticket' %}单票保险{% endif %}
	            {% if insurance_product.product_type == 'car' %}运单保险{% endif %}
             </div>
        </div>   
        {% if insurance_product.product_type == 'batch'  or insurance_product.product_type == 'car' %}
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p class=“wss_p”>【产品费率】</p>
            </div>
            <div class="weui_cell_ft wss_p">{{insurance_product.rate}}</div>
        </div>
    {% endif %}
    </div>
    <div class="weui_cells_title wss_dashed">录入保单信息</div>
    <div class="weui_cells weui_cells_form wss_p">
        <div class="weui_cell wss_dashed_bottom">
            <div class="weui_cell_hd"><label class="weui_label">【被保险人】</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text" placeholder="默认保险人（可选填）" name="insured" value="{% if client.company_name %}{{ client.company_name }}{% else %}{{ client.name }}{% endif %}"/>
            </div>
        </div>
        <!-- 修改后的起运地目的地 -->      
        <div class="weui_cell ">
		 		<div class="weui_cell_hd"><label class="weui_label">【起运地】</label></div>
		 </div>
       <div class="weui_cell weui_cell_select weui_select_before wss_dashed_bottom" style="margin-left:8px;"  id="start_city">
            <div class="weui_cell_hd ">
                <select class="weui_select " name="startSiteName_prov" id ="wx_startSiteName_prov"style="width: 180px">
		             {% for cargo_area  in cargo_area_list%}
		                 {% if cargo_area.level ==  '1'  %}
		     				<option value="{{ cargo_area.code }}" >{{ cargo_area.name }}</option>
		     				{% endif %}
		     	    {% endfor%}
		             </select>
            </div>
            <div class="weui_cell_hd">
                 <select class="weui_select " name="startSiteName_city" id ="wx_startSiteName_city"style="width: 130px"></select>
            </div>
            <div class="weui_cell_hd">
               <select class="weui_select "name="startSiteName_dist"id ="wx_startSiteName_dist" style="width: 130px"></select> 
        </div>
        </div>
	    <div class="weui_cell">
		 		<div class="weui_cell_hd"><label class="weui_label">【目的地】</label></div>
		 </div>
        <div class="weui_cell weui_cell_select weui_select_before wss_dashed_bottom" id="end_city" style="margin-left:8px;">
                <div class="weui_cell_hd " >
                        <select class="weui_select " name="targetSiteName_prov" id ="wx_targetSiteName_prov"style="width: 180px">
                              {% for cargo_area  in cargo_area_list%}
                                  {% if cargo_area.level ==  '1'  %}
                      				<option value="{{ cargo_area.code }}" {% if cargo_area.code|toString == transport_type.1|toString %} selected{% endif %}>{{ cargo_area.name }}</option>
                      				{% endif %}
                      	    {% endfor%}
                           </select>
                </div>
                <div class="weui_cell_hd" >
                        <select class="weui_select " name="targetSiteName_city" id ="wx_targetSiteName_city"style="width: 130px"></select>
                </div>
                <div class="weui_cell_hd" >
                        <select class="weui_select "name="targetSiteName_dist"id ="wx_targetSiteName_dist"style="width: 130px" ></select> 
                </div>
        </div> 
<!-- #################################################################################################333 -->
<!-- 				<div class="form-group">
                            <div class="form-group">
                                <label  class="control-label">
                                    *修改起运地&nbsp;: 
                                </label>
                                <div id="select_city">
                                    <select class="" name="startSiteName_prov" id ="wx_startSiteName_prov">
                                    {% for cargo_area  in cargo_area_list%}
                                        {% if cargo_area.level ==  '1'  %}
                            				<option value="{{ cargo_area.code }}" >{{ cargo_area.name }}</option>
                            				{% endif %}
                            	    {% endfor%}
                                    </select>
                                    <select class="" name="startSiteName_city" id ="wx_startSiteName_city"></select>
                                    <select class=""name="startSiteName_dist"id ="wx_startSiteName_dist" ></select> 
                                </div>
                           </div>
				</div>  -->
						    
	<!-- 			<div class="form-group">
                            <div class="form-group">
                                <label for="id_password" class="control-label">
                                    *修改目的地&nbsp;: 
                                </label>
                                <div id="">
                                    <select class="" name="targetSiteName_prov" id ="wx_targetSiteName_prov">
                                    {% for cargo_area  in cargo_area_list%}
                                        {% if cargo_area.level ==  '1'  %}
                            				<option value="{{ cargo_area.code }}" {% if cargo_area.code|toString == transport_type.1|toString %} selected{% endif %}>{{ cargo_area.name }}</option>
                            				{% endif %}
                            	    {% endfor%}
                                    </select>
                                    <select class="" name="targetSiteName_city" id ="wx_targetSiteName_city"></select>
                                    <select class=""name="targetSiteName_dist"id ="wx_targetSiteName_dist" ></select> 
                                </div>
                            </div>
						</div>  -->
{% if insurance_product.product_type == 'batch' %}
        <div class="weui_cell weui_cell_select weui_select_after wss_dashed_bottom">
            <div class="weui_cell_hd"><label for="" class="weui_label">【货物价值】</label></div>
            <div id="insurance_price">
                <div class="weui_cell_bd weui_cell_primary ">
                       <select class="weui_select" id="id_batch_insurance_price" name="batch_insurance_price">
                            <option value="">请选择</option>
                           <option value="100000" {% if posted_data.batch_insurance_price == '100000' %} selected {% endif %}>10万元</option>
                            <option value="200000" {% if posted_data.batch_insurance_price == '200000' %} selected {% endif %}>20万元</option>
                            <option value="300000" {% if posted_data.batch_insurance_price == '300000' %} selected {% endif %}>30万元</option>
                            <option value="400000" {% if posted_data.batch_insurance_price == '400000' %} selected {% endif %}>40万元</option>
                            <option value="500000" {% if posted_data.batch_insurance_price == '500000' %} selected {% endif %}>50万元</option>
                            <option value="600000" {% if posted_data.batch_insurance_price == '600000' %} selected {% endif %}>60万元</option>
                            <option value="700000" {% if posted_data.batch_insurance_price == '700000' %} selected {% endif %}>70万元</option>
                            <option value="800000" {% if posted_data.batch_insurance_price == '800000' %} selected {% endif %}>80万元</option>
                            <option value="900000" {% if posted_data.batch_insurance_price == '900000' %} selected {% endif %}>90万元</option>
                            <option value="1000000" {% if posted_data.batch_insurance_price == '1000000' %} selected {% endif %}>100万元</option>
                            <option value="1100000" {% if posted_data.batch_insurance_price == '1100000' %} selected {% endif %}>110万元</option>
                            <option value="1200000" {% if posted_data.batch_insurance_price == '1200000' %} selected {% endif %}>120万元</option>
                            <option value="1300000" {% if posted_data.batch_insurance_price == '1300000' %} selected {% endif %}>130万元</option>
                            <option value="1400000" {% if posted_data.batch_insurance_price == '1400000' %} selected {% endif %}>140万元</option>
                            <option value="1500000" {% if posted_data.batch_insurance_price == '1500000' %} selected {% endif %}>150万元</option>
                            <option value="1600000" {% if posted_data.batch_insurance_price == '1600000' %} selected {% endif %}>160万元</option>
                            <option value="1700000" {% if posted_data.batch_insurance_price == '1700000' %} selected {% endif %}>170万元</option>
                            <option value="1800000" {% if posted_data.batch_insurance_price == '1800000' %} selected {% endif %}>180万元</option>
                            <option value="1900000" {% if posted_data.batch_insurance_price == '1900000' %} selected {% endif %}>190万元</option>
                            <option value="2000000" {% if posted_data.batch_insurance_price == '2000000' %} selected {% endif %}>200万元</option>
                        </select>
                </div>
            </div>
        </div>
        <div class="weui_cell">
		 		<div class="weui_cell_hd"><label class="weui_label">【车牌号】</label></div>
		 </div>
        <div class="weui_cell weui_cell_select weui_select_before wss_dashed_bottom" style="margin-left:8px;" >
            <div class="weui_cell_hd">
                <select class="weui_select" name="short">
 						{% for short in pc %}
	                    <option value="{{short}}">{{short}}</option>
	                    {% endfor %}
                </select>
            </div>
            <div class="weui_cell_hd">
                <select class="weui_select" name="letter">
	                	{% for letter in letters %}
	                    <option value="{{letter}}">{{letter}}</option>
	                    {% endfor %}
                </select>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text" placeholder="请输入车牌号"  id="id_batch_plate_number" name="batch_plate_number" value="{{ posted_data.batch_plate_number }}"/>
            </div>
        </div>

         <div class="weui_tab" style="position: relative;height: 30px;">
            <div class="weui_navbar" style="display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;position: absolute;top: 0;width: 100%;background-color: #fafafa;">
                <div onclick="click_1()" id="nav_click_1" class="weui_navbar_item weui_bar_item_on" style="border-right: 1px solid #cccccc;position: relative;display: block;-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;padding: 13px 0;text-align: center;font-size: 15px;-webkit-tap-highlight-color: transparent;">
                    上传清单图片
                </div>
                <div onclick="click_3()" id="nav_click_3" class="weui_navbar_item" style="border-right: 1px solid #cccccc;position: relative;display: block;-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;padding: 13px 0;text-align: center;font-size: 15px;-webkit-tap-highlight-color: transparent;">
                    手工录入货物清单
                </div>
            </div>
         </div>
        <div class="weui_cell" style="margin-top: 18px;">
            {% if document_id %}
                <p style="color: red;font-size: 14px">属于<a  href="{% url 'wss:document_detail' document_id %}" >《不保货物清单》</a>范围内的货物的任何损失，保险公司不承担赔偿责任</p>
            {% endif %}
        </div>

        <div id="click_1" class="" style="margin-top: 10px">
            <div class="weui_cells_title">图片格式（gif、png、jpeg或icon;）</div>
            <div class="weui_cells weui_cells_form">
                <div class="weui_cell">
                    <div class="weui_cell_bd weui_cell_primary">
                        <div class="weui_uploader">
                            <div class="weui_uploader_bd">
                                <ul class="weui_uploader_files ul_batch_image_list">
                                </ul>
                                <div class="weui_uploader_input_wrp">
                                    <input class="weui_uploader_input batch_image_list" id="id_batch_image_list" name="batch_image_list"  type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple="multiple"/>
                                    <input class="weui_uploader_input batch_image_list control-show" id="id_batch_image_list" name="batch_image_list"  type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple="multiple"/>
                                    <input class="weui_uploader_input batch_image_list control-show" id="id_batch_image_list" name="batch_image_list"  type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple="multiple"/>
                                    <input class="weui_uploader_input batch_image_list control-show" id="id_batch_image_list" name="batch_image_list"  type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple="multiple"/>
                                    <input class="weui_uploader_input batch_image_list control-show" id="id_batch_image_list" name="batch_image_list"  type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple="multiple"/>
{#                                                <input type='hidden' id="id_batch_image_list_hidden" name="batch_image_list_hidden">#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="click_2" class="control-show" style="margin-top: 10px">
            <div class="weui_cells_title">文档格式（word,excel,PDF）</div>
            <div class="weui_cell" style="margin-top: 20px;margin-bottom: 20px">
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="filestyle" type="file" id="id_batch_file" name="batch_file" data-icon="true" data-input="true" data-buttonText="选择文件" data-iconName="glyphicon-inbox">
                </div>
            </div>
        </div>

        <div id="click_3" class="control-show" style="margin-top: 10px">

            <div id="id_properties_bottom" style="padding-left: 15px;padding-right: 15px;margin-top: 20px">
                <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default" id="" onclick="add_batch_line()">添加货物清单</a>
            </div>
        </div>

{% endif %}

{% if insurance_product.product_type == 'ticket' %}
<!-- 添加的货物类型 -->
<!--         <div class="weui_cell">
        	<div class="weui_cell_hd"><label for="" class="weui_label">【产品费率】</label></div>
            <div class="weui_cell_hd" style="width: 200px">
            	<select class="weui_select" id="wx_good_type_id" name="good_type_id"  onchange= "change_good_type()">
            		{% for product_rate in insurance_product.product_rate_list%}
            		<option value="{{product_rate.good_type}}">{{product_rate.good_type}} / {{product_rate.products_rate}}</option>
            		{% endfor %}
                 </select>
            </div>
        </div> -->
	    <div class="weui_cell">
	        <div class="weui_cell_hd"><label class="weui_label">【类型/费率】</label></div>
	        <div class="weui_cell_bd weui_cell_primary" >
	            {#<a href="#"style="float:right;color:red"><货物类型编码表></a>#}
	            <a href="javascript:void(0)" style="float:right;color:red"onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'"><货物类型编码表></a>
	        </div>
	    </div>
        <div class="weui_cell weui_cell_select weui_select_before wss_dashed_bottom" style="margin-left:8px;">
            <div class="weui_cell_hd" style="width:50%;" >
         		<select class="weui_select" id="wx_good_type_id" name="good_type_id"  style="width:100%;" >
            		{% for product_rate in insurance_product.product_rate_list%}
            		<option value="{{product_rate.good_type}}">{{product_rate.good_type}} / {{product_rate.products_rate}}</option>
            		{% endfor %}
                 </select>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
               {# <input id= "id_wx_cargo_number" name="wx_cargo_number" class="weui_input" type="number" pattern="[0-9]*" placeholder="请输入货物类型编码"/>#}
                <input id= "id_wx_cargo_number" name="wx_cargo_number" class="weui_input"  placeholder="请输入货物类型编码"/>
            </div>
        </div>
        
<!--         {#测试div弹出框#}
        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">点击这里打开窗口</a>
        <div id="light" class="white_content"> 
		     {% for product_rate in insurance_product.product_rate_list%}
                    <div class="form-group" id="wx_{{product_rate.good_type}}">
                     <div>{{product_rate.good_type}}</div>
	                     {% for product_cargo  in  product_cargo_set %}
		                     {% if product_cargo.state == product_rate.good_type %}
		                      <div class="col-sm-6"style="margin-bottom:2px">
		                    {#  {{product_cargo.cargo.cargo_number}}：{{product_cargo.cargo.cargo_name}}#}
		                    <input name="radio1" type="radio" value="{{product_cargo.cargo.cargo_number}}">{{product_cargo.cargo.cargo_number}}：{{product_cargo.cargo.cargo_name}}
		                      </div>
		                     {% endif %}
	                     {% endfor %}
                     
                    </div>
                    <HR style="border:1 dashed #987cb9" width="100%" color=#987cb9 SIZE=1></br>
                    {% endfor %}
		    <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'"> 
		    Close</a>
		    <a href="#" onclick="checks();"> Close</a> 
		    <div class="weui_tab" style="position: relative;height: 30px;">
			            <div class="weui_navbar" style="display: -webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;position: absolute;top: 0;width: 100%;background-color: #fafafa;">
			                <div onclick="checks()" id="nav_click_1" class="weui_navbar_item weui_bar_item_on" style="border-right: 1px solid #cccccc;position: relative;display: block;-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;padding: 13px 0;text-align: center;font-size: 15px;-webkit-tap-highlight-color: transparent;">
			                    提交
			                </div>
			                <div onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'" id="nav_click_3" class="weui_navbar_item" style="border-right: 1px solid #cccccc;position: relative;display: block;-webkit-box-flex: 1;-webkit-flex: 1;-ms-flex: 1;flex: 1;padding: 13px 0;text-align: center;font-size: 15px;-webkit-tap-highlight-color: transparent;">
			                    关闭
			                </div>
			            </div>
			         </div>
			         
			  

	    </div>  -->
<!--        添加普通货物详情         
     <div class="weui_cell control-show"id="wx_hidden_common_good" >
            <div class="weui_cell_bd weui_cell_primary">
                <p>普通货物详情：</p>
            </div>
            <div class="weui_cell_hd" style="width: 200px">
            	<select class="weui_select" id="wx_common_good_id" name="common_good_id"  >
            	<option value="">请选择货物类型</option>
            		{% for common_good in common_good_list%}
            		<option value="{{common_good}}">{{common_good}}</option>
            		{% endfor %}
                 </select>
            </div>
    </div>           -->


        <div class="weui_cell ">
            <div class="weui_cell_hd"><label for="" class="weui_label">【包装方式】</label></div>
        </div>
        <div class="weui_cell weui_cell_select weui_select_before wss_dashed_bottom" style="margin-left:8px;" id="start_city" >
            <div class="weui_cell_hd" style="width:50%;" >
                <select class="weui_select"  id="wx_pack_method_id" name="wx_pack_method_id"  style="width:90%;" >
 						    {% for pack_method in pack_method_list%}
                         	<option value="{{ pack_method.0 }}" {% if posted_data.pack_method_id|toString == pack_method.0|toString %} selected{% endif %}>{{ pack_method.0  }}</option>
                         {% endfor%}
                </select>
            </div>
            <div class="weui_cell_hd" style="width:50%;" >
                <select class="weui_select" id="wx_pack_detail_id" name="wx_pack_detail_id"  style="width:90%;" ></select>
            </div>
        </div>
        <div class="weui_cell weui_cell_select weui_select_after wss_dashed_bottom">
            <div class="weui_cell_hd"><label for="" class="weui_label">【运输方式】</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                  	<select class="weui_select" id="id_transport_type_id" name="transport_type_id"style="float: left">
                           {% for transport_type in transport_type%}
                           	<option value="{{ transport_type.0 }}" {% if posted_data.transport_type_id|toString == transport_type.1|toString %} selected{% endif %}>{{ transport_type.1 }}</option>
                           	{% endfor%}
                    </select>
            </div>
        </div>


	    
    <div class="weui_cell wss_dashed_bottom">
        <div class="weui_cell_hd"><label class="weui_label">【货物价值】</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" placeholder="请输入货物价值(元)" name="insurance_price" value="{{ posted_data.insurance_price }}"/>
        </div>
    </div>
    <div class="weui_cell wss_dashed_bottom">
        <div class="weui_cell_hd"><label class="weui_label">【运单号】</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" placeholder="请输入运单号" id="id_ticket_transport_id" name="ticket_transport_id" value="{{ posted_data.ticket_transport_id }}"/>
        </div>
    </div>
{#    <div class="weui_cell">#}
{#        <div class="weui_cell_hd"><label class="weui_label">【挂车牌号】</label></div>#}
{#        <div class="weui_cell_bd weui_cell_primary">#}
{#            <input class="weui_input" type="text" placeholder="请输入挂车牌号（可选填）" id="id_ticket_plate_number_plus" name="ticket_plate_number_plus" value="{{ posted_data.ticket_plate_number_plus }}"/>#}
{#        </div>#}
{#    </div>#}
    <div class="weui_cell wss_dashed_bottom">
        <div class="weui_cell_hd"><label class="weui_label">【货物名称】</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" placeholder="请输入货物名称" id="id_ticket_commodityName" name="ticket_commodityName" value="{{ posted_data.ticket_commodityName }}"/>
        </div>
    </div>
    {% if document_id %}
        <div class="weui_cell">
            <p style="color: red;font-size: 14px">请务必确认您投保的货物不属于
                <a  href="{% url 'wss:document_detail' document_id %}" >《不保货物清单》</a>
                范围内，否则保险公司不承担赔偿责任</p>
        </div>
    {% endif %}
    <div class="weui_cell wss_dashed_bottom">
        <div class="weui_cell_hd"><label class="weui_label">【货物数量】</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" placeholder="请输入货物数量" id="id_ticket_commodityCases" name="ticket_commodityCases" value="{{ posted_data.ticket_commodityCases }}"/>
        </div>
    </div>
    <div class="weui_cell">
		 		<div class="weui_cell_hd"><label class="weui_label">【车牌号】</label></div>
	</div>
        <div class="weui_cell weui_cell_select weui_select_before wss_dashed_bottom" style="margin-left:8px;" >
            <div class="weui_cell_hd">
                <select class="weui_select" name="short">
 						{% for short in pc %}
	                    <option value="{{short}}">{{short}}</option>
	                    {% endfor %}
                </select>
            </div>
            <div class="weui_cell_hd">
                <select class="weui_select" name="letter">
	                	{% for letter in letters %}
	                    <option value="{{letter}}">{{letter}}</option>
	                    {% endfor %}
                </select>
            </div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text" placeholder="请输入车牌号"  id="id_batch_plate_number" name="batch_plate_number" value="{{ posted_data.batch_plate_number }}"/>
            </div>
        </div>
{% endif %}

{% if insurance_product.product_type == 'car' %}
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label" style="width: 6em">货物价值<small>(元)</small></label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" placeholder="请输入货物价值" name="insurance_price" value="{{ posted_data.insurance_price }}"/>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">运单号</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" placeholder="请输入运单号" id="id_car_transport_id" name="car_transport_id" value="{{ posted_data.car_transport_id}}"/>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">货物名称</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" placeholder="请输入货物名称" id="id_car_commodityName" name="car_commodityName" value="{{ posted_data.car_commodityName }}"/>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label">货物数量</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="text" placeholder="请输入货物数量" id="id_car_commodityCases" name="car_commodityCases" value="{{ posted_data.car_commodityCases}}"/>
        </div>
    </div>
  </div>
{% endif %}
    <div style="height:40px;"></div>
    <div style=" width: 100%; position: fixed;  bottom: 0px;z-index: 1024;">
    		<button type="submit" class="weui_btn weui_btn_primary">立即投保</button>
    </div>
 


</form>
{% endblock %}

{% block page_block %}
{#    Page所在，微信页面的Page使用PageManager管理，详见"js/we-example.js"#}
{#    Page是一个类似于Modal的概念#}
{% endblock %}
{% block script_block %}
{#    对于页面中的Page需要使用对应的js来控制页面跳转#}
    <script type="text/javascript">
        $(document).ready(function (){
        	change_wx_pack_method();
        	wx_change_province();

            $("#start_city").citySelect();
            $("#end_city").citySelect();
        });


       function add_batch_line(){
{#                var count = $('tr[name="properties_item"]').length;#}
                var count = document.getElementsByName("properties_item").length;
{#           alert('count数量:'+count);#}
                var position = count;
                if($("#id_properties_item_" + position).length > 0){
                    for(var i=0;i<count;i++){
                        if($("#id_properties_item_" + i).length <= 0){
                            position = i;
                            break;
                        }
                    }
                }
                $('#id_properties_bottom').before(  '<div id="id_properties_item_' + position + '" name="properties_item">' +
                        '<input type="hidden" name="position" value="' + position + '"/>' +
                        '<div class="weui_cell"><div class="weui_cell_hd"><label class="weui_label">【运单号】</label></div><div class="weui_cell_bd weui_cell_primary"><input class="weui_input" type="text" placeholder="请输入运单号" name="yd_' + position + '" value="" required/></div></div>' +
                        '<div class="weui_cell"><div class="weui_cell_hd"><label class="weui_label">【起运地】</label></div><div class="weui_cell_bd weui_cell_primary"><input class="weui_input" type="text" placeholder="请输入起运地" name="qyd_' + position + '" value="" required/></div></div>' +
                        '<div class="weui_cell"><div class="weui_cell_hd"><label class="weui_label">【目的地】</label></div><div class="weui_cell_bd weui_cell_primary"><input class="weui_input" type="text" placeholder="请输入目的地" name="mdd_' + position + '" value="" required/></div></div>' +
                        '<div class="weui_cell"><div class="weui_cell_hd"><label class="weui_label">【货物名称】</label></div><div class="weui_cell_bd weui_cell_primary"><input class="weui_input" type="text" placeholder="请输入货物名称" name="hwmc_' + position + '" value="" required/></div></div>' +
                        '<div class="weui_cell"><div class="weui_cell_hd"><label class="weui_label">【货物数量】</label></div><div class="weui_cell_bd weui_cell_primary"><input class="weui_input" type="text" placeholder="请输入货物数量" name="hwsl_' + position + '" value="" required/></div></div>' +
                        '<div style="padding-left: 15px;padding-right: 15px;"><a id="id_properties_item_delete_' + position + '" class="weui_btn weui_btn_mini weui_btn_default" onclick="$(\'#id_properties_item_' + position + '\').remove()" style="float: right;bottom:10px;margin-top: 15px;">删除货物清单</a><div style="clear: both"></div></div>' +
                        '</div>');

            }
       
       function change_good_type(){
    		var good_type_selector =document.getElementById('wx_good_type_id');
    		if (good_type_selector.value == "普通货物"){
    			$('#wx_hidden_common_good').removeClass('control-show');
    		}else{
    	        $('#wx_hidden_common_good').addClass('control-show');
    		}
    		
    	}

    function click_1(){
        $('#click_1').removeClass('control-show');
        $('#click_2').addClass('control-show');
        $('#click_3').addClass('control-show');

        $('#nav_click_1').addClass('weui_bar_item_on');
        $('#nav_click_2').removeClass('weui_bar_item_on');
        $('#nav_click_3').removeClass('weui_bar_item_on');
    }

    function click_2(){
        $('#click_1').addClass('control-show');
        $('#click_2').removeClass('control-show');
        $('#click_3').addClass('control-show');

        $('#nav_click_1').removeClass('weui_bar_item_on');
        $('#nav_click_2').addClass('weui_bar_item_on');
        $('#nav_click_3').removeClass('weui_bar_item_on');

    }

    function click_3(){
        $('#click_1').addClass('control-show');
        $('#click_2').addClass('control-show');
        $('#click_3').removeClass('control-show');

        $('#nav_click_1').removeClass('weui_bar_item_on');
        $('#nav_click_2').removeClass('weui_bar_item_on');
        $('#nav_click_3').addClass('weui_bar_item_on');
    }





$.weui = {};
$.weui.alert = function(options){
    options = $.extend({title: '警告', text: '警告内容'}, options);
        var $alert = $('.weui_dialog_alert');
        $alert.find('.weui_dialog_title').text(options.title);
        $alert.find('.weui_dialog_bd').text(options.text);
        $alert.on('touchend click', '.weui_btn_dialog', function(){
        $alert.hide();
    });
    $alert.show();
};

{#营业执照#}
$(function () {
});


// 允许上传的图片类型
var allowTypes = ['image/jpg', 'image/jpeg', 'image/png', 'image/gif'];
// 1024KB，也就是 1MB
var maxSize = 3072 * 3072;
// 图片最大宽度
var maxWidth = 400;
// 最大上传图片数量
var maxCount = 5;
{#$('.batch_image_list').on('change', function (event) {#}
{##}
{#$('input[name="batch_image_list"]').on('change', function (event) {#}

{#function onchange_pic(event){#}
$(".batch_image_list").on('change', function(event) {
{#alert('aaaaaaaaaaa');#}
{#$(this).after('<input class="weui_uploader_input batch_image_list" id="id_batch_image_list" name="batch_image_list"  type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple="multiple"/>');#}

{#$(this).remove();#}
    $(this).addClass("control-hidden");
$('#id_batch_image_list.control-show').eq(0).removeClass('control-show');
var files = event.target.files;

// 如果没有选中文件，直接返回
if (files.length === 0) {
return;
}

for (var i = 0, len = files.length; i < len; i++) {
var file = files[i];
var reader = new FileReader();
// 如果类型不在允许的类型范围内
if (allowTypes.indexOf(file.type) === -1) {
$.weui.alert({text: '该类型不允许上传'});
continue;
}

if (file.size > maxSize) {
$.weui.alert({text: '图片太大，不允许上传'});
continue;
}

if ($('.li_batch_image_list').length >= maxCount) {
$.weui.alert({text: '最多只能上传' + maxCount + '张图片'});
return;
}
reader.onload = function (e) {
var img = new Image();
img.onload = function () {
// 不要超出最大宽度
var w = Math.min(maxWidth, img.width);
// 高度按比例计算
var h = img.height * (w / img.width);
var canvas = document.createElement('canvas');
var ctx = canvas.getContext('2d');
// 设置 canvas 的宽度和高度
canvas.width = w;
canvas.height = h;
ctx.drawImage(img, 0, 0, w, h);
var base64 = canvas.toDataURL('image/png');
console.log(base64);
// 插入到预览区
var $preview = $('<li class="weui_uploader_file weui_uploader_status li_batch_image_list" style="background-image:url(' + base64 + ')"></li>');
$('.ul_batch_image_list').append($preview);
{#var num = $('.weui_uploader_file').length;#}
{#$('.js_counter').text(num + '/' + maxCount);#}
};
img.src = e.target.result;
    $('#id_batch_image_list_hidden').val(img.src);
};
reader.readAsDataURL(file);
}
});

//包装类型变化
function change_wx_pack_method(){
    var pack_method_selector = document.getElementById('wx_pack_method_id');
    alert("444")
/*     if(" {{insurance_product.product_type }}" =="ticket"){ */
    	
    	alert("444444")
    	 if(pack_method_selector !=""){
    	    	a=pack_method_selector.value
    	    	wx_getPackDetail(a);
    	    	pack_method_selector.onchange = function () {
    	    		var selectedValue = this[this.selectedIndex].value;
    	    		if(selectedValue !=""){
    	    			wx_getPackDetail(selectedValue);
    	    		}
    	    		else{
    	    			alert("包装1方式不能为空");
    	    			var pack_detail_selector = document.getElementById('wx_pack_detail_id');
    	    			pack_detail_selector.innerHTML = '';
    	    		}
    	    	}//endfunction
    	    }//endif
    	    else{
    	    	alert("包装类型不能为空");
    	    }
/*     } */
   
}


function wx_getPackDetail (pack_type){
	var pack_type=pack_type;
	//alert('getPackDetail-------'+pack_type);
	var pack_detail_selector = document.getElementById('wx_pack_detail_id');
	
	$.ajax({
        url: "/bms/interface/locations/get_pack_detail_list",
        data: {pack_type: pack_type},
        type: 'GET',
        dataType: 'json',
        timeout: 15000,
        success: function (data) {
        	//alert("success");
        	//ert(data.data.pack_detail)
        	pack_detail_list=data.data.pack_detail
        	pack_detail_selector.innerHTML = '';
        	for (var  key in pack_detail_list){
        		//alert(pack_detail_list[key]);
        		pack_detail=pack_detail_list[key];
        		value=pack_detail[0];
        		text=pack_detail[1];
        		pack_detail_selector.options.add(wx_getOption(text,value));
        	}
        	var pack_method_selector1 = document.getElementById('wx_pack_method_id');
        	var pack_detail_selector1 = document.getElementById('wx_pack_detail_id');
        	if (pack_method_selector1.value &&  pack_detail_selector1.value ){}
        	else if(!pack_detail_selector1.value){
        		pack_detail_selector1.innerHTML = '';
        		pack_detail_selector.options.add(wx_getOption('无具体包装方式',''));
        	}	
        },
        error: function () {
          // alert(data);
           alert("网络异常请稍后再试");
        }
    });
}

function wx_getOption(text,value){
    var o = document.createElement('option');
    o.text = text;
    o.value = value;
    return o;
}

function click_4(){
    $('#click_4').removeClass('control-show');
}
function click_5(){
    $('#click_4').addClass('control-show');
}
function wx_getCargoDetail(){
	if ("{{insurance_product.product_type }}" == "ticket"){
		var pack_detail_selector = document.getElementById('wx_good_type_id');
		if (pack_detail_selector.value){
			var cargo_list_id="wx_"+pack_detail_selector.value
			$('#cargo_list_id').addClass('control-show');
		}	
	}//end{{insurance_product.product_type }}
	
}

function checks(){
	var cargo_number_selector = document.getElementById('id_wx_cargo_number');
	var radios=document.getElementsByName("radio1");
    for(var i=0;i<radios.length;i++)
    {
        if(radios[i].checked==true)
        {
            alert("您选择的编码是："+radios[i].value);
            cargo_number_selector.value=radios[i].value
        }
    } 
	document.getElementById('light').style.display='none';
	document.getElementById('fade').style.display='none'; 
}

function wx_change_province(){
	var target_province_selector = document.getElementById('wx_targetSiteName_prov');
    var city_selector = document.getElementById('wx_targetSiteName_city');
    var area_selector = document.getElementById('wx_targetSiteName_dist');
    var start_province_selector = document.getElementById('wx_startSiteName_prov');
    if(target_province_selector != null){
    	change_city_list('wx_targetSiteName_');
    	target_province_selector.onchange = function () {
    		change_city_list('wx_targetSiteName_');
        }
    }//end first if
    if(start_province_selector != null){
    	change_city_list('wx_startSiteName_');
    	start_province_selector.onchange = function () {
    		//alert(start_province_selector.value)
    		//alert("3333")
    		change_city_list('wx_startSiteName_');
        }
    }//end first if
}

function change_city_list(state) {
	//alert("555")
	var state=state
	//alert("state"+state)
    var province_selector = document.getElementById( state+'prov');
    var city_selector = document.getElementById(state+'city');
    
    $.ajax({
        url: "/bms/interface/locations/get_city_list/",
        data: {prov_code: province_selector.value},
        type: 'GET',
        dataType: 'json',
        timeout: 15000,
        success: function (data) {
        //	//alert("success")
        	var a=1
        	city_selector.innerHTML = '';
        	 for (var key1 in data['data']) {
        		 city_selector.options.add(wx_getOption(data['data'][key1], key1));
            }
        	 change_dist_list(state);
        },
        error: function (data) {
/*             $('#id_message').removeClass('control-show');
            $('#id_message_id').html(data['message']) */
            alert("网络不稳定");
        }
    });
    
    city_selector.onchange = function () {
    	change_dist_list(state);
    }
    

}

function change_dist_list(state) {
//	alert("666")
    var province_selector = document.getElementById(state+'prov');
    var city_selector = document.getElementById(state+'city');
    var dist_selector = document.getElementById(state+'dist');
    $.ajax({
        url: "/bms/interface/locations/get_dist_list/",
        data: {city_code: city_selector.value},
        type: 'GET',
        dataType: 'json',
        timeout: 15000,
        success: function (data) {
       // 	alert("success")
        	var a=1
        	dist_selector.innerHTML = '';
        	 for (var key1 in data['data']) {
        		 dist_selector.options.add(wx_getOption(data['data'][key1], key1));
            }
        },
        error: function (data) {
/*             $('#id_message').removeClass('control-show');
            $('#id_message_id').html(data['message']) */
        	alert("网络不稳定");
        }
    });
}


    </script>
{% endblock %}