{% extends 'wss/base.html' %}
{% load static %}
{% load legoo_tag %}
{% block title_block %}运单保险{% endblock %}

{% block container_block %}
{#    首页所在位置，进入页面后的默认页面#}
<script  type="text/javascript">
wx.ready(function () {
	  // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
	  wx.onMenuShareAppMessage({
	      title: '运单保险 费率万分之3',
	      desc: '与您的物流管理系统对接,自动投保,每单声明货物价值，作为后期赔偿上限。',
	      link: '{{main_url}}wss/insure/product_detail3?referee_id={{ mine_id }}',
	      imgUrl: 'https://mmbiz.qlogo.cn/mmbiz/rrFA3l0J5UZha8Y5GQHtuDY2SkYLSn4zQTo1zJyq0ZZUZib7lI0KyJicxk9qkWAAAePr75jPGu3w4zWMicibsaw7MA/0?wx_fmt=png',
	    });
	  
	 //  2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
	 wx.onMenuShareTimeline({
	      title: '运单保险 费率万分之3',
	      link:'{{main_url}}wss/insure/product_detail3?referee_id={{ mine_id }}',
	      imgUrl: 'https://mmbiz.qlogo.cn/mmbiz/rrFA3l0J5UZha8Y5GQHtuDY2SkYLSn4zQTo1zJyq0ZZUZib7lI0KyJicxk9qkWAAAePr75jPGu3w4zWMicibsaw7MA/0?wx_fmt=png',
	    });  
});
</script>

    <div class="weui_cells_title hd" style="text-align: center;">运单保险详情</div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>产品名称：</p>
            </div>
            <div class="weui_cell_ft">运单保险</div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>产品特点：</p>
            </div>
            <div class="weui_cell_ft">无缝对接，全部投保</div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>产品费率：</p>
            </div>
            <div class="weui_cell_ft">万分之三</div>
        </div>

        <div class="weui_cells_title">产品简介</div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <textarea class="weui_textarea" rows="12"  disabled="disabled" style="background-color: #ffffff">
1、与会员公司内部管理系统无缝对接，所有货物全部投保；
2、适合企业货主、要求发货人必须保价的物流公司以及向客户赠送小额保险的物流公司；
3、费率万分之五，招募会员期间六折优惠，费率万分之三；
4、低免赔，保险金额1万元以内的货物，免赔保险金额的10%，超出1万元的免赔1000或损失金额的10%，以高者为准；
5、保障范围更大，易碎品、精密仪器等均在承保范围内；
6、发生事故后，平台理赔专家立即跟进，实时指导客户索赔，杜绝理赔陷阱；
7、发车前提交，运之宝平台生成订单，预存费用自动缴费，可在线查询保险单；
8、平台预存费用灵活使用；
                    </textarea>
{#                    <div class="weui_textarea_counter"><span>0</span>/200</div>#}
                </div>
            </div>
        </div>
    </div>
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="tel:15910731868">
            <div class="weui_cell_bd weui_cell_primary">
                <p>投保请咨询客服：</p>
            </div>
            <div class="weui_cell_ft">15910731868</div>
        </a>
    </div>
    <div class="weui_cells">
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary">
                <p>微信：</p>
            </div>
            <div class="weui_cell_ft">15910731868</div>
        </div>
    </div>
{#    <a href="{% url 'wss:prompt' %}" class="weui_btn weui_btn_primary" style="margin-top: 20px">投保</a>#}

    <div class="weui_cells">
{#        <img src="{% static 'pic/default/logo.png' %}" style="max-width: 200px;max-height: 200px;display:block;text-align: center;margin-right: auto;margin-left: auto;">#}
        <img src="{% static 'pic/default/ewm.jpg' %}" style="max-width: 350px;max-height: 200px;display:block;text-align: center;margin-right: auto;margin-left: auto;">
        <div class="weui_cell_bd weui_cell_primary">
            <p style="text-align: center;margin-right: auto;margin-left: auto;margin-top: 10px">长按上图选择“识别图中二维码”↑↑↑</p>
        </div>
    </div> 
{% endblock %}

{% block page_block %}
{#    Page所在，微信页面的Page使用PageManager管理，详见"js/we-example.js"#}
{#    Page是一个类似于Modal的概念#}
{% endblock %}
{% block script_block %}
{#    对于页面中的Page需要使用对应的js来控制页面跳转#}
{% endblock %}