{% extends 'wss/base.html' %}
{% load static %}
{% load legoo_tag %}
{% block title_block %}我的{% endblock %}

{% block container_block %}
<style>
.weui_input {
  border:0px solid #C8C8CD;  
}
 #item-ifo {
position: relative;
}
#item-ifo #ico {
width: 16px;
height: 16px;
position: absolute;
top: 5px;
left: 40px;
z-index: 3;
}  
.weui_uploader_input_wrp {
  float: left;
  position: relative;
  margin-right: 9px;
  margin-bottom: 9px;
  width: 98%;
  height: 120px;
  border: 1px solid #D9D9D9;
  margin:0 auto;
}
.weui_uploader_file {
  float: left;
  margin-right: 9px;
  margin-bottom: 9px;
  width: 98%;
  height: 120px;
  background: no-repeat center center;
  background-size: cover;
}
</style>
{% if message %}
    <div class="weui_dialog_alert">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示</strong></div>
            <div class="weui_dialog_bd">{{ message }}</div>
            <div class="weui_dialog_ft">
                <a onclick="close_dialog();" class="weui_btn_dialog primary">确定</a>
            </div>
        </div>
    </div>
{% endif %}
{#    首页所在位置，进入页面后的默认页面#}
  <!--   <div class="wss_title" ><i class="fa   fa-car"></i> &nbsp; <strong>添加车辆</strong></div> -->
  <div class="top">
	<table class="tabel" border="0" cellspacing="0" cellpadding="0">
		<tbody>
			<tr>
					<td width="23%" valign="middle">
							<a class="btn1" onclick="history.go(-1)"><i class="fa fa-chevron-left"></i></a>
					</td>
					<td class="wz" width="53%" valign="middle" align="center">
							<span id="toptitle">
									<i class="fa   fa-car"></i>&nbsp;<strong>添加车辆</strong>
							</span>
					</td>
					<td width="23%" valign="middle" align="right">
					<a id="aso" href="#"></a>
					</td>
			</tr>
		</tbody>
	</table>
</div>
    <div class="bd">
        <form id="wss_register_form" method="post" action="" enctype="multipart/form-data" style="padding-top:30px;">{% csrf_token %}
            <input type="hidden" name="open_id" value="{{ open_id }}">
            <input type="hidden" name="next_view" value="{{ next_view }}">
            <div class="weui_cells weui_cells_form">
				 <!-- <div class="weui_cells_title" id="wss_bt_title"><i class="fa fa-sign-out">&nbsp;车牌号</i></div>  -->
        <!--     <div class="weui_cells_title weui_navbar_item" style="text-align: left; background-color: #F3F3F3;color:#5172D5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-sign-out">&nbsp;车牌号</i></div> -->
<!--        <div class="weui_cell weui_cell_select weui_select_before" style="">
	            <div class="weui_cell_hd">
	                <select class="weui_select" name="short" style="font-size:14px;">
	                   {% for short in pc %}
	                    <option value="{{forloop.counter0}}">{{short}}</option>
	                    {% endfor %}
	                </select>
	            </div>
	            <div class="weui_cell_hd">
	                <select class="weui_select" name="letter" style="font-size:14px;">
	                	{% for letter in letters %}
	                    <option value="{{forloop.counter0}}">{{letter}}</option>
	                    {% endfor %}
	                </select>
	            </div>
	            <div class="weui_cell_bd weui_cell_primary">
	                <input class="weui_input"  type="text" placeholder="请输入车牌号"  id="id_batch_plate_number" name="batch_plate_number" value="{{ posted_data.batch_plate_number }}"/>
	            </div>
	        </div> -->
        <div class="weui_cell wss_dashed_bottom">
                <div class="weui_cell_hd" ><label for="" class="weui_label" style="font-size:15px;color:#000;">【车牌号】</label></div> 
                <div class="weui_cell_bd weui_cell_primary " id="item-ifo">
							<input class="weui_input" id="short" type="text" name="short" value="{% if posted_data.short %}{{ posted_data.short }}{% else %}京 A{% endif %}"><i class="fa fa-sort-desc" id="ico"></i>
                </div>
                <div class="weui_cell_ft"><input class="weui_input" type="text" placeholder="请输入车牌号"  id="id_batch_plate_number" name="batch_plate_number" value="{{ posted_data.batch_plate_number }}"/></div>
        </div>
<!-- 	    <div class="weui_cells_title "   id="my_car_titile" >
	    	<div  style="margin-top: -10px;">
				<div style="float:left; padding-left: 15px;color:#000;">
				【检验有效期至】
	        	</div>
	        	<div  style="float:right;padding-right: 10px;color:#5172D5;">
             		<i class="fa  fa-exclamation-triangle"></i>
             		<a href="{% url 'wss:ref_pic'  '4' %}"  style="color:#5172D5;">&nbsp;&nbsp;参考样例&nbsp;&nbsp;<i class="fa  fa-angle-right"></i></a>
             	</div>
             	</div>
	        </div>   -->   
	       <!--  <div class="weui_cells weui_cells_form wss_dashed_bottom"> -->
				        <div class="weui_cell  wss_dashed_bottom">
				             <div class="weui_cell_hd" style="width:45%;"><label for="" class="weui_label" style="font-size:15px;color:#000;width:100%;">【检验有效期至】</label></div> 
				            <div class="weui_cell_bd weui_cell_primary">
				                <input class="weui_input" type="text" pattern="[0-9]*" value="" name="id_plate_expiration_periods" id="jyyxqDate"  placeholder="请输入检验有效至" value="{{ posted_data.id_plate_expiration_periods }}"/>
				            </div>
				        </div> 
         <!--        </div> -->
             <div class="weui_cells_title"   id="my_car_titile" >
             	<div  style="margin-top: -10px;">
	             	<div style="float:left; padding-left: 15px;color:#000;">
	             		【行驶证正页及副页照片】
	             	</div>
	             	<div  style="float:right;padding-right: 10px;color:#5172D5;">
	             		<i class="fa  fa-exclamation-triangle"></i>
	             		<a href="{% url 'wss:ref_pic'  '1' %}" style="color:#5172D5;">&nbsp;&nbsp;参考样例&nbsp;&nbsp;<i class="fa  fa-angle-right"></i></a>
	             	</div> 
             	</div>
             </div>     
                 <div class="weui_cells weui_cells_form ">
	                <div class="weui_cell">
	                    <div class="weui_cell_bd weui_cell_primary">
	                        <div class="weui_uploader">
	                            <div class="weui_uploader_bd">
	                                <ul class="weui_uploader_files ul_batch_image_list">
	                                </ul>
	                                <div class="weui_uploader_input_wrp">
	                                    <input class="weui_uploader_input batch_image_list" id="id_plate_image_left" name="id_plate_image_left"  type="file" accept="image/jpg,image/jpeg,image/png,image/gif"/>
	                                    <input class="weui_uploader_input batch_image_list control-show" id="id_plate_image_left" name="id_plate_image_left"  type="file" accept="image/jpg,image/jpeg,image/png,image/gif" />
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
               <!--  <div class="weui_cells_title" id="wss_bt_title"><i class="fa fa-sign-out">&nbsp;保险到期时间</i></div> -->
                <div class="weui_cell  wss_dashed_bottom">
                	<div class="weui_cell_hd" style="width:40%;"><label for="" class="weui_label" style="font-size:15px;width:120px;">【保险到期时间】</label></div>
		            <div class="weui_cell_bd weui_cell_primary">
		            		<input class="weui_input" id="start_date" type="text" name="start_date" placeholder="请输入保险到期时间" value="{{ posted_data.start_date }}" >
		            </div>
		        </div>
			    </div>
			    <div class="weui_cells_title"   id="my_car_titile" >
			    <div  style="margin-top: -10px;">
			    	<div style="float:left; padding-left: 15px;color:#000;">
			    		【上传交强险保单】
			    	</div>
			    	<div  style="float:right;padding-right: 10px;color:#5172D5;">
			    		<i class="fa  fa-exclamation-triangle"></i>
			    		<a href="{% url 'wss:ref_pic'  '2' %}" style="color:#5172D5;">&nbsp;&nbsp;参考样例&nbsp;&nbsp;<i class="fa  fa-angle-right"></i></a>
			    	</div>
			    	</div>
			    </div> 
                <div class="weui_cells weui_cells_form ">
                        <div class="weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">
                                <div class="weui_uploader">
                                    <div class="weui_uploader_bd">
                                        <ul class="weui_uploader_files ul_business_license_image">
                                        </ul>
                                        <div class="weui_uploader_input_wrp">
                                            <input class="weui_uploader_input business_license_image" id="id_business_license_image" name="id_liability_image"  type="file" accept="image/jpg,image/jpeg,image/png,image/gif"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                 </div>
			     <div class="weui_cells_title"   id="my_car_titile">
			     <div  style="margin-top: -10px;">
			     	<div style="float:left; padding-left: 15px;color:#000;">
			     		【上传商业险保单】
			     	</div>
			     	<div  style="float:right;padding-right: 10px;color:#5172D5;">
			     		<i class="fa  fa-exclamation-triangle"></i>
			     		<a href="{% url 'wss:ref_pic'  '3' %}" style="color:#5172D5;">&nbsp;&nbsp;参考样例&nbsp;&nbsp;<i class="fa  fa-angle-right"></i></a>
			     	</div> 
			     </div> 
			     </div>
                 <div class="weui_cells weui_cells_form ">
                    <div class="weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">
                            <div class="weui_uploader">
                                <div class="weui_uploader_bd">
                                    <ul class="weui_uploader_files ul_national_image_down">
                                    </ul>
                                    <div class="weui_uploader_input_wrp">
                                        <input class="weui_uploader_input national_image_down" name="id_commercial_image" type="file" accept="image/jpg,image/jpeg,image/png,image/gif"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <button type="submit" class="weui_btn weui_btn_primary"  style="border-radius:0px;">确认提交</button>
        </form>
    </div>

<div class="weui_dialog_alert" style='display: none;'>
<div class='weui_mask'></div>
<div class="weui_dialog">
    <div class="weui_dialog_hd"><strong class="weui_dialog_title">警告</strong></div>
    <div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
    <div class="weui_dialog_ft">
    <a href='javascript:;' class='weui_btn_dialog primary'>确定</a>
    </div>
</div>
</div>

<div id="toast" style="display: none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <i class="weui_icon_toast"></i>
        <p class="weui_toast_content">已完成</p>
    </div>
</div>

{% endblock %}

{% block page_block %}
{#    Page所在，微信页面的Page使用PageManager管理，详见"js/we-example.js"#}

{#    Page是一个类似于Modal的概念#}
{% endblock %}
{% block script_block %}
{#    对于页面中的Page需要使用对应的js来控制页面跳转#}

    <script>
{#var progress = 0;#}
{#function uploading(temp) {#}
{#    $preview.find('.'+temp).text(++progress + '%');#}
{#    if (progress < 100) {#}
{#    setTimeout(uploading(temp), 30);#}
{#    }#}
 
        $.weui = {};
        $.weui.alert = function(options){
        options = $.extend({title: '警告', text: '警告内容'}, options);
            var $alert = $('.weui_dialog_alert');
            $alert.find('.weui_dialog_title').text(options.title);
            $alert.find('.weui_dialog_bd').text(options.text);
            $alert.on('touchend click', '.weui_btn_dialog', function(){
            $alert.hide();
        });
        $alert.show();
        };
        <!--时间插件-->
      $(function () {
    	var currYear = (new Date()).getFullYear();	
    	var opt={};
    	opt.date = {preset : 'date'};
    	opt.datetime = {preset : 'datetime'};
    	opt.time = {preset : 'time'};
    	opt.default = {
    		theme: 'android-ics light', //皮肤样式
            display: 'modal', //显示方式 
            mode: 'scroller', //日期选择模式
    		dateFormat: 'yyyy-mm',
    		dateOrder : 'yymm', //面板中日期排列格式
    		lang: 'zh',
    		showNow: true,
    		nowText: "今天",
            startYear: currYear - 50, //开始年份
            endYear: currYear + 50 //结束年份
            
    	};

      	$("#jyyxqDate").mobiscroll($.extend(opt['date'], opt['default']));

    }); 

{#行驶证#}
$(function () {
	// 允许上传的图片类型
	var allowTypes = ['image/jpg', 'image/jpeg', 'image/png', 'image/gif'];
	// 1024KB，也就是 1MB
	var maxSize = 3072 * 3072;
	// 图片最大宽度
	var maxWidth = 400;
	// 最大上传图片数量
	var maxCount = 2;
	{#$('.batch_image_list').on('change', function (event) {#}
	{##}
	{#$('input[name="id_plate_image_left"]').on('change', function (event) {#}

	{#function onchange_pic(event){#}
	$(".batch_image_list").on('change', function(event) {

	{#$(this).after('<input class="weui_uploader_input batch_image_list" id="id_batch_image_list" name="batch_image_list"  type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple="multiple"/>');#}

	{#$(this).remove();#}
	    $(this).addClass("control-hidden");
	$('#id_plate_image_left.control-show').eq(0).removeClass('control-show');
	var files = event.target.files;

	// 如果没有选中文件，直接返回
	if (files.length === 0) {
	return;
	}

	for (var i = 0, len = files.length; i < len; i++) {
	var file = files[i];
	var reader = new FileReader();
	// 如果类型不在允许的类型范围内
	if (allowTypes.indexOf(file.type) === -1) {
	$.weui.alert({text: '该类型不允许上传'});
	continue;
	}

	if (file.size > maxSize) {
	$.weui.alert({text: '图片太大，不允许上传'});
	continue;
	}

	if ($('.li_batch_image_list').length >= maxCount) {
		$.weui.alert({text: '最多只能上传' + maxCount + '张图片'});
		return;
		}
	reader.onload = function (e) {
	var img = new Image();
	img.onload = function () {
	// 不要超出最大宽度
	var w = Math.min(maxWidth, img.width);
	// 高度按比例计算
	var h = img.height * (w / img.width);
	var canvas = document.createElement('canvas');
	var ctx = canvas.getContext('2d');
	// 设置 canvas 的宽度和高度
	canvas.width = w;
	canvas.height = h;
	ctx.drawImage(img, 0, 0, w, h);
	var base64 = canvas.toDataURL('image/png');
	console.log(base64);
	// 插入到预览区
	var $preview = $('<li class="weui_uploader_file weui_uploader_status li_batch_image_list" style="background-image:url(' + base64 + ')"></li>');
	$('.ul_batch_image_list').append($preview);
	{#var num = $('.weui_uploader_file').length;#}
	{#$('.js_counter').text(num + '/' + maxCount);#}
	};
	img.src = e.target.result;
	    $('#id_batch_image_list_hidden').val(img.src);
	};
	reader.readAsDataURL(file);
	}
	});
	});
{#商业险保单#}
$(function () {
// 允许上传的图片类型
var allowTypes = ['image/jpg', 'image/jpeg', 'image/png', 'image/gif'];
// 1024KB，也就是 1MB
var maxSize = 3072 * 3072;
// 图片最大宽度
var maxWidth = 400;
// 最大上传图片数量
var maxCount = 1;

$('.national_image_down').on('change', function (event) {
var files = event.target.files;

// 如果没有选中文件，直接返回
if (files.length === 0) {
return;
}

for (var i = 0, len = files.length; i < len; i++) {
var file = files[i];
var reader = new FileReader();
// 如果类型不在允许的类型范围内
if (allowTypes.indexOf(file.type) === -1) {
$.weui.alert({text: '该类型不允许上传'});
continue;
}

if (file.size > maxSize) {
$.weui.alert({text: '图片太大，不允许上传'});
continue;
}

if ($('.li_national_image_down').length >= maxCount) {
$.weui.alert({text: '最多只能上传' + maxCount + '张图片'});
return;
}
reader.onload = function (e) {
var img = new Image();
img.onload = function () {
// 不要超出最大宽度
var w = Math.min(maxWidth, img.width);
// 高度按比例计算
var h = img.height * (w / img.width);
var canvas = document.createElement('canvas');
var ctx = canvas.getContext('2d');
// 设置 canvas 的宽度和高度
canvas.width = w;
canvas.height = h;
ctx.drawImage(img, 0, 0, w, h);
var base64 = canvas.toDataURL('image/png');
console.log(base64);
// 插入到预览区
var $preview = $('<li class="weui_uploader_file weui_uploader_status li_national_image_down" style="background-image:url(' + base64 + ')"></li>');
$('.ul_national_image_down').append($preview);
{#var num = $('.weui_uploader_file').length;#}
{#$('.js_counter').text(num + '/' + maxCount);#}
};
img.src = e.target.result;
    $('#id_national_image_down_hidden').val(img.src);
};
reader.readAsDataURL(file);
}
});
});

{#交强险保单#}
$(function () {
// 允许上传的图片类型
var allowTypes = ['image/jpg', 'image/jpeg', 'image/png', 'image/gif'];
// 1024KB，也就是 1MB
var maxSize = 3072 * 3072;
// 图片最大宽度
var maxWidth = 400;
// 最大上传图片数量
var maxCount = 1;

$('.business_license_image').on('change', function (event) {
var files = event.target.files;

// 如果没有选中文件，直接返回
if (files.length === 0) {
return;
}

for (var i = 0, len = files.length; i < len; i++) {
var file = files[i];
var reader = new FileReader();
// 如果类型不在允许的类型范围内
if (allowTypes.indexOf(file.type) === -1) {
$.weui.alert({text: '该类型不允许上传'});
continue;
}

if (file.size > maxSize) {
$.weui.alert({text: '图片太大，不允许上传'});
continue;
}

if ($('.li_business_license_image').length >= maxCount) {
$.weui.alert({text: '最多只能上传' + maxCount + '张图片'});
return;
}
reader.onload = function (e) {
var img = new Image();
img.onload = function () {
// 不要超出最大宽度
var w = Math.min(maxWidth, img.width);
// 高度按比例计算
var h = img.height * (w / img.width);
var canvas = document.createElement('canvas');
var ctx = canvas.getContext('2d');
// 设置 canvas 的宽度和高度
canvas.width = w;
canvas.height = h;
ctx.drawImage(img, 0, 0, w, h);
var base64 = canvas.toDataURL('image/png');
console.log(base64);
// 插入到预览区
var $preview = $('<li class="weui_uploader_file weui_uploader_status li_business_license_image" style="background-image:url(' + base64 + ')"></li>');
$('.ul_business_license_image').append($preview);
{#var num = $('.weui_uploader_file').length;#}
{#$('.js_counter').text(num + '/' + maxCount);#}
};
img.src = e.target.result;
    $('#id_business_license_image_hidden').val(img.src);
};
reader.readAsDataURL(file);
}
});
});
    </script>
<!--       <script src="{% static 'js/jquery-2.1.4.js' %}"></script> -->
<script src="{% static 'js/fastclick.js' %}"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>
<script src="{% static 'js/jquery-weui.js' %}"></script> 
<script>
$("#short").picker({
    title: "选择省份代码",
    cols: [
      {
        textAlign: 'center',
        values:  ["京", "津", "冀", "蒙","晋", "沪","皖", "苏", "浙", "鲁", "闽","赣", "粤", "桂", "琼","豫", "鄂", "湘","黑", "吉", "辽", "陕","甘","宁","青","新","渝","川","云","贵","藏","港","澳","台"]
      },
      {
        textAlign: 'center',
        values:["A", "B", "C", "D","E", "F","G", "H", "I", "J", "K","L", "M", "N", "O","P", "Q", "R","S", "T", "U", "V","W","x","Y","Z"]
      }
    ]
  });
$("#start_date").calendar({
	onChange: function (p, values, displayValues) {
      console.log(values, displayValues);
    }
  });
</script> 
{% endblock %}