{% extends 'wss/base.html' %}
{% load static %}
{% load legoo_tag %}
{% block title_block %}我的{% endblock %}

{% block container_block %}

<!-- 查看员工名单 -->
    <div id="search_pic_model" class="row control-show" >
		<div class="weui_dialog_alert" >
		        <div class="weui_mask" style="z-index:999;"></div>
		        <div class="weui_dialog"  style="z-index:1000;">
		            <div class="weui_dialog_hd"><strong class="weui_dialog_title"id="id_message_id"></strong></div>
		            <div class="weui_dialog_bd">
				            {% if employee.roster_list or employee.roster_list_manual  %}
						            {% if employee.up_roster == 'picture' %}
							            {% for roster_set  in employee.roster_list  %}
							            <div><img class="img-responsive center-block" src="{% static '' %}{{ roster_set }}" style="max-width: 200px;max-height: 13pc;word-break:break-all" alt="商品图片"/></div>
					                    {% endfor %}
					                 {% elif employee.up_roster == 'pdf' %}
					                 		{% for roster_set  in employee.roster_list  %}
					                 		<a class="pull-right" href="{% static '' %}{{ roster_set }}" download="员工名单_{{forloop.counter1}}"><i class="fa fa-download">文件{{forloop.counter1}}下载</i></a>
					                 		{% endfor %}
					                 {% elif employee.up_roster == 'manual' %}
							                 <table class="bordered"  style="width:100%;text-align: center;">    
							                 		<tr>
															<td style="text-align: center;">工号</td>
															<td style="text-align: center;">姓名</td>
															<td style="text-align: center;">身份证</td>
													</tr>
								    	    	{% for roster_manual in employee.roster_list_manual %}
								    	    		<tr>
															<td style="text-align: center;">{{ roster_manual.work_type }}</td>
															<td style="text-align: center;">{{ roster_manual.name }}</td>
															<td style="text-align: center;">{{ roster_manual.id_number }}</td>
													</tr>
												{% endfor%}
								    	    </table>
					                 {% else %}
					                 员工名单上传方式不明
					                 {% endif %}
			                 {% endif %}   
		            </div>
		            <div class="weui_dialog_ft">
		                <a onclick="$('#search_pic_model').addClass('control-show');" class="weui_btn_dialog primary">取消</a>
		            </div>
		        </div>
		    </div>
    </div>
{#    首页所在位置，进入页面后的默认页面#}
<!-- <div class="wss_title" ><i class="fa   fa-file-text"></i> &nbsp; <strong>订单详情</strong></div> -->
       <div class="top">
		<table class="tabel" border="0" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
						<td width="20%" valign="middle">
							    <a class="btn1" onclick="history.go(-1)"><i class="fa fa-chevron-left"></i></a>
					    </td>
						<td class="wz" width="60%" valign="middle" align="center">
								<span id="toptitle">
										<i class="fa    fa-file-text"></i>&nbsp;<strong>员工保险详情</strong>
								</span>
						</td>
						<td width="20%" valign="middle" align="right">
						<a id="aso" href="#"></a>
						</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	
    <div class="weui_cells wss_p" style="padding-top:30px;">
        <div class="weui_cell wss_dashed_bottom">
            <div class="weui_cell_bd weui_cell_primary">
                <p>【保单号】</p>
            </div>
            <div class="weui_cell_ft">{{ employee.paper_id }}</div>
        </div>



      <div class="weui_cell wss_dashed_bottom">
            <div class="weui_cell_bd weui_cell_primary">
                <p>【险种】</p>
            </div>
            <div class="weui_cell_ft">{{ employee|displayName:'insurance_type'  }}</div>
        </div>
       
    
        <div class="weui_cell wss_dashed_bottom">
            <div class="weui_cell_bd weui_cell_primary" >
                <p>【死亡伤残保险金额】</p>
            </div>
            <div class="weui_cell_ft">{{employee.death_disability_price}}</div>
        </div>
        <div class="weui_cell wss_dashed_bottom">
            <div class="weui_cell_bd weui_cell_primary">
                <p>【医疗费保险金额】</p>
            </div>
            <div class="weui_cell_ft">{{ employee.medical_price }}</div>
        </div>
        <div class="weui_cell wss_dashed_bottom">
            <div class="weui_cell_bd weui_cell_primary" >
                <p>【误工费保险金额】</p>
            </div>
            <div class="weui_cell_ft">{{employee.loss_working_price}}</div>
        </div>
        <div class="weui_cell wss_dashed_bottom">
            <div class="weui_cell_bd weui_cell_primary">
                <p>【住院津贴保险金额】</p>
            </div>
            <div class="weui_cell_ft">{{employee.hospitalization_price }}</div>
        </div>
        <div class="weui_cell wss_dashed_bottom">
            <div class="weui_cell_bd weui_cell_primary">
                <p>【免赔】</p>
            </div>
            <div class="weui_cell_ft">{{employee.deductible }}</div>
        </div>
        <a class="weui_cell weui_cells_access wss_dashed_bottom"  href="{% url 'wss:search_policy_picture'  employee.id  %}?policy_state=employee&referee_id={{ referee_id }}"  target="_blank">
                <div class="weui_cell_bd weui_cell_primary">
                    <p><font color="#000">【电子保单】</font></p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
            {% if employee.roster_list or employee.roster_list_manual %}
            <a class="weui_cell weui_cells_access wss_dashed_bottom"  href="#" onclick="$('#search_pic_model').removeClass('control-show');">
                <div class="weui_cell_bd weui_cell_primary">
                    <p><font color="#000">【员工名单】</font></p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
            {% endif %}
 		<div class="weui_cell wss_dashed_bottom">
            <div class="weui_cell_bd weui_cell_primary">
                <p>【投保公司】</p>
            </div>
            <div class="weui_cell_ft">{{employee.company.simple_name }}</div>
        </div>
        {% if  employee.company.parent.phone %}
       <!--  <a class="weui_cell weui_cells_access wss_dashed_bottom"  href="tel:{{employee.company.parent.phone}}">
            <div class="weui_cell_bd weui_cell_primary">
                <p ><font color="#000">【报案电话】</font></p>
            </div>
            <div class="weui_cell_ft">{{employee.company.parent.phone}}</div>
        </a> -->
        {% endif %}
        {% if employee.date_start and employee.date_stop %}
        <div class="weui_cell wss_dashed_bottom">
            <div class="weui_cell_bd weui_cell_primary">
                <p>【保险日期】</p>
            </div>
            <div class="weui_cell_ft">{{employee.date_start|date:'Y-m-d '}} 至{{employee.date_stop|date:'Y-m-d '}}</div>
        </div>
        {% endif %}
       <!--  <div class="weui_cell wss_dashed_bottom">
            <div class="weui_cell_bd weui_cell_primary">
                <p>【创建时间】</p>
            </div>
            <div class="weui_cell_ft">{{employee.create_time|date:'Y-m-d H:i:s' }}</div>
        </div> -->
        {% if  employee.other_list %}
        	{% for other_set in employee.other_list %}
        		<div class="weui_cell wss_dashed_bottom">
		            <div class="weui_cell_bd weui_cell_primary">
		                <p>【{{ other_set.field_name|String_Interception }}】</p>
		            </div>
		            <div class="weui_cell_ft">
		            <a onclick='alert("{{  other_set.field_content }}")'>{{ other_set.field_content|String_Interception }}</a>
		            </div>
		        </div>
        	{% endfor %}
        <!-- <div class="weui_cells_title weui_navbar_item" style="text-align: left; background-color: #F3F3F3;color:#5172D5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-paw" ></i>补充信息</div>
		   <div class="weui_cells wss_p" >
	    	    <table class="bordered"  style="width:100%;text-align: center;">    
	    	    	{% for other_set in employee.other_list %}
	    	    		<tr>
								<td style="text-align: center;">{{ other_set.field_name }}</td>
								<td style="text-align: center;">{{ other_set.field_content }}</td>
						</tr>
					{% endfor%}
	    	    </table>
	    	</div>
	    </div> -->
     {% endif %}

	<div style="height:150px;"></div>
	<div style=" width: 100%; position: fixed;  bottom: 0px;z-index: 1; ">
	        <div class="weui_cells  wss_btn" style="background-color:#cccc98;color:#FFF; opacity: 0.8;" >
			        <a class="weui_cells_access weui_cell wss_btn" href="tel:{{employee.company.parent.phone }}"  >
			            <div class="weui_cell_bd weui_cell_primary">
			                <p><i class="fa  fa-phone-square"></i>{{ employee.company.simple_name }} 客服电话</p>
			            </div>
			            <div class="weui_cell_ft wss_btn" >{{employee.company.parent.phone }}</div>
			        </a>
	    </div> 
	</div>
{% endblock %}

{% block page_block %}
{#    Page所在，微信页面的Page使用PageManager管理，详见"js/we-example.js"#}
{#    Page是一个类似于Modal的概念#}
{% endblock %}
{% block script_block %}
{#    对于页面中的Page需要使用对应的js来控制页面跳转#}
    <script type="text/javascript">
  
    </script>

{% endblock %}