{% extends 'wss/base.html' %}
{% load static %}
{% load legoo_tag %}
{% block title_block %}我的{% endblock %}

{% block container_block %}

{#    首页所在位置，进入页面后的默认页面#}
<!-- <div class="wss_title" ><i class="fa   fa-file-text"></i> &nbsp; <strong>订单详情</strong></div> -->
       <div class="top">
		<table class="tabel" border="0" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
						<td width="20%" valign="middle">
							    <a class="btn1" onclick="history.go(-1)"><i class="fa fa-chevron-left"></i></a>
					    </td>
						<td class="wz" width="60%" valign="middle" align="center">
								<span id="toptitle">
										<i class="fa    fa-file-text"></i>&nbsp;<strong>其他保险详情</strong>
								</span>
						</td>
						<td width="20%" valign="middle" align="right">
						<a id="aso" href="#"></a>
						</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	

<div class="weui_cells wss_p" style="padding-top:30px;">
        <a class="weui_cell weui_cells_access wss_dashed_bottom"  href="{% url 'wss:search_policy_picture'  other_insurance.id  %}?policy_state=other_insurance&referee_id={{ referee_id }}"  target="_blank">
                <div class="weui_cell_bd weui_cell_primary">
                    <p><font color="#000">【电子保单】</font></p>
                </div>
                <div class="weui_cell_ft">
                </div>
            </a>
        {% if other_insurance.date_start and other_insurance.date_stop %}
        <div class="weui_cell wss_dashed_bottom">
            <div class="weui_cell_bd weui_cell_primary">
                <p>【保险日期】</p>
            </div>
            <div class="weui_cell_ft">{{other_insurance.date_start|date:'Y-m-d '}} 至{{other_insurance.date_stop|date:'Y-m-d '}}</div>
        </div>
        {% endif %}
  <!--       <div class="weui_cell wss_dashed_bottom">
            <div class="weui_cell_bd weui_cell_primary">
                <p>【创建时间】</p>
            </div>
            <div class="weui_cell_ft">{{other_insurance.create_time|date:'Y年m月d日 H:i:s' }}</div>
        </div> -->
        {% if  other_insurance.other_list %}
	        {% for other_set in other_insurance.other_list %}
	        		<div class="weui_cell wss_dashed_bottom">
			            <div class="weui_cell_bd weui_cell_primary">
			                <p>【{{ other_set.field_name  |String_Interception}}】</p>
			            </div>
			            <div class="weui_cell_ft">
			            <a onclick='alert("{{  other_set.field_content }}")'>{{ other_set.field_content|String_Interception }}</a>
			            </div>
			        </div>
        	{% endfor %}
     {% endif %}
     
  {% if other_set.company %}   
     <div style="height:150px;"></div>
	<div style=" width: 100%; position: fixed;  bottom: 0px;z-index: 1; ">
	        <div class="weui_cells  wss_btn" style="background-color:#cccc98;color:#FFF; opacity: 0.8;" >
			        <a class="weui_cells_access weui_cell wss_btn" href="tel:{{freight.company.parent.phone }}"  >
			            <div class="weui_cell_bd weui_cell_primary">
			                <p><i class="fa  fa-phone-square"></i>{{ other_set.company.simple_name }} 客服电话</p>
			            </div>
			            <div class="weui_cell_ft wss_btn" >{{other_set.company.parent.phone }}</div>
			        </a>
	    </div> 
	</div>
	{% endif %}
</div>
{% endblock %}

{% block page_block %}
{#    Page所在，微信页面的Page使用PageManager管理，详见"js/we-example.js"#}
{#    Page是一个类似于Modal的概念#}
{% endblock %}
{% block script_block %}
{#    对于页面中的Page需要使用对应的js来控制页面跳转#}
    <script type="text/javascript">
  
    </script>

{% endblock %}