{% extends 'wss/base.html' %}
{% load static %}
{% load legoo_tag %}
{% block title_block %}我的{% endblock %}

{% block container_block %}
<!-- <link href="{% static 'css/mian.css' %}" rel="stylesheet"> -->
{#    首页所在位置，进入页面后的默认页面#}
<script type="text/javascript">
pushHistory(); 
window.addEventListener("popstate", function(e) { 
    //alert("我监听到了浏览器的返回按钮事件啦");//根据自己的需求实现自己的功能 
    close_window()
}, false); 

function pushHistory() { 
    var state = { 
        title: "title", 
        url: "#"
    }; 
    window.history.pushState(state, "title", "#"); 
}
</script>
    <div class="wss_title" ><i class="fa   fa-calendar-o"></i> &nbsp; <strong>我的订单</strong></div>

	<div class="container" id="container">
			<div class="bd">
			    <div class="weui_search_bar" id="search_bar">
			        <form class="weui_search_outer"  action="{% url 'wss:yundan_order_list' %}?order_list_state={{ order_list_state }}" method="POST" >{% csrf_token %}
			            <div class="weui_search_inner">
			                <i class="weui_icon_search"></i>
			                <input type="search" class="weui_search_input" id="search_input" name="search_keyword" placeholder="请按车号/运单号/产品名称搜索" />
			                <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
			            </div>
			            <label for="search_input" class="weui_search_text" id="search_text">
			                <i class="weui_icon_search"></i>
			                <span>搜索</span>
			            </label>
			        </form>
			        <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
			    </div>
			</div>
		</div>
	<div class="weui_dialog_alert"  id="dialog_alert"style="display:none;">
			    <div class="weui_mask"></div>
			    <div class="weui_dialog">
			        <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示信息</strong></div>
			        <div class="weui_dialog_bd"></div>
			        <div class="weui_dialog_ft">
			            <a href="javascript:close();" class="weui_btn_dialog primary" id="confirm">确定</a>
			        </div>
			    </div>
	</div>
	<div class="weui_tab">
        <div class="weui_navbar">
            <div class="weui_navbar_item weui_bar_item_on" >
                全部
            </div>
            {% if order_page  %}
      
            <div class="weui_navbar_item " >
                未支付
            </div>
            <div class="weui_navbar_item">
                已支付
            </div>
             <div class="weui_navbar_item">
                已完成
            </div>
            {% endif %}
        </div>
        <div class="weui_tab_bd">

        <div class="weui_cells weui_cells_access" id="show_0" style="display:none">
             {% if orders %}
        	  {% for order in orders %}
                    <a class="weui_cell wss_p"  {% if order.state == 'wait' %}href="{% url 'wss:order_edit' order.id %}?referee_id={{ referee_id }}&add_state=1&order_list_state={{ order_list_state }}"{% else %} href="{% url 'wss:order_detail_update' order.id %}?referee_id={{ referee_id }}&order_list_state={{ order_list_state }}"{% endif %}>
                        <div class="weui_cell_bd weui_cell_primary">
                            {% if order.transport_id %}
                                <p>运单号：{{ order.transport_id }}</p>
                            {% endif %}
                            {% if order.plate_number %}
                                <p>车牌号：{{ order.plate_number }}</p>
                            {% endif %}
                            <p class="">下单时间：{{ order.create_time|date:'Y年m月d日' }}</p>
                        </div>
                        <div class="weui_cell_ft wss_p">{{ order|displayName:'state' }}</div>
                    </a>
                    <div  class="wss_dashed_bottom"></div>
           {% endfor %}
               {% else %}
                <div  class="thumbBox"  style="padding-top: 25%;"><img  src="/static/pic/default/201305122026542520.gif" alt="icon"  style="max-width: 180px;max-height: 180px;word-break:break-all;" ></div>
			    <div  class="thumbBox"  style="padding-top: 5%;"><p>抱歉，您当前还没有订单!</p></div>
			    {% endif %}
        </div>
        

        
        
        
        <div class="weui_cells weui_cells_access" id="show_1" style="display:none">
                {% if orders_init %}
         	  {% for order in orders_init %}
                    <a class="weui_cell wss_p" href="{% url 'wss:order_detail_update' order.id %}?referee_id={{ referee_id }}&order_list_state={{ order_list_state }}">
                        <div class="weui_cell_bd weui_cell_primary">
                            {% if order.transport_id %}
                                <p>运单号：{{ order.transport_id }}</p>
                            {% endif %}
                            {% if order.plate_number %}
                                <p>车牌号：{{ order.plate_number }}</p>
                            {% endif %}
                            <p class="">下单时间：{{ order.create_time|date:'Y年m月d日' }}</p>
                        </div>
                        <div class="weui_cell_ft">{{ order|displayName:'state' }}</div>
                    </a>
                    <div  class="wss_dashed_bottom"></div>
           {% endfor %}
               {% else %}
                    <div  class="thumbBox"  style="padding-top: 25%;"><img  src="/static/pic/default/201305122026542520.gif" alt="icon"  style="max-width: 180px;max-height: 180px;word-break:break-all;" ></div>
			         <div  class="thumbBox"  style="padding-top: 5%;"><p>抱歉，您当前还没有订单!</p></div>
			    {% endif %}
        </div>
        <div class="weui_cells weui_cells_access"  id="show_2" style="display:none">
          {% if orders_paid %}
            {% for order in orders_paid %}
                    <a class="weui_cell wss_p" href="{% url 'wss:order_detail_update' order.id %}?referee_id={{ referee_id }}&order_list_state={{ order_list_state }}">
                        <div class="weui_cell_bd weui_cell_primary">
                            {% if order.transport_id %}
                                <p>运单号：{{ order.transport_id }}</p>
                            {% endif %}
                            {% if order.plate_number %}
                                <p>车牌号：{{ order.plate_number }}</p>
                            {% endif %}
                            <p class="">下单时间：{{ order.create_time|date:'Y年m月d日' }}</p>
                        </div>
                        <div class="weui_cell_ft">{{ order|displayName:'state' }}</div>
                    </a>
                    <div  class="wss_dashed_bottom"></div>
           {% endfor %}
              {% else %}
               <div  class="thumbBox"  style="padding-top: 25%;"><img  src="/static/pic/default/201305122026542520.gif" alt="icon"  style="max-width: 180px;max-height: 180px;word-break:break-all;" ></div>
			         <div  class="thumbBox"  style="padding-top: 5%;"><p>抱歉，您当前还没有订单!</p></div>
			    {% endif %}
        </div>
       <div class="weui_cells weui_cells_access"  id="show_3" style="display:none">
         {% if orders_done %}
                  {% for order in orders_done %}
                    <a class="weui_cell wss_p" href="{% url 'wss:order_detail_update' order.id %}?referee_id={{ referee_id }}&order_list_state={{ order_list_state }}">
                        <div class="weui_cell_bd weui_cell_primary">
                            {% if order.transport_id %}
                                <p>运单号：{{ order.transport_id }}</p>
                            {% endif %}
                            {% if order.plate_number %}
                                <p>车牌号：{{ order.plate_number }}</p>
                            {% endif %}
                            <p class="">下单时间：{{ order.create_time|date:'Y年m月d日' }}</p>
                        </div>
                        <div class="weui_cell_ft">{{ order|displayName:'state' }}</div>
                    </a>
                    <div  class="wss_dashed_bottom"></div>
                {% endfor %}
                       {% else %}
                        <div  class="thumbBox"  style="padding-top: 25%;"><img  src="/static/pic/default/201305122026542520.gif" alt="icon"  style="max-width: 180px;max-height: 180px;word-break:break-all;" ></div>
			 		<div  class="thumbBox"  style="padding-top: 5%;"><p>抱歉，您当前还没有订单!</p></div>
			    {% endif %}
        </div>
        </div>
    </div>
       
{% endblock %}

{% block page_block %}
{#    Page所在，微信页面的Page使用PageManager管理，详见"js/we-example.js"#}
{#    Page是一个类似于Modal的概念#}
{% endblock %}
{% block script_block %}
{#    对于页面中的Page需要使用对应的js来控制页面跳转#}
<script src="{% static 'js/search.js' %}"type="text/javascript"></script>
<script type="text/javascript">
$(function () {
	$('#show_0').show();
	$(".weui_navbar_item").each(function(index){
        $(this).click(function(){
        	$(this).addClass('weui_bar_item_on').siblings('.weui_bar_item_on').removeClass('weui_bar_item_on');     
        	$('#show_'+index).siblings('.weui_cells').hide();
        	 $('#show_'+index).show();
        });
    }) ;         
});
</script>

{% endblock %}
