<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
.waikuang {
	padding: 20px;
	float: left;
	width: 1170px;
}
.logo {
	padding: 50px;
	height: 50px;
	width: 50px;
}
.daohanglan-1 {
	padding: 50;
	height: 50px;
	width: 1170px;
}
.daohanglan-2 {
	padding: 25px;
	height: 25px;
	width: 100px;
}
.neirong {
	padding: 50px;
	height: 500px;
	width: 450px;
}
</style>
</head>

<body>
<div class="waikuang" style="background-color: ">
  <div class="logo">此处显示  class "logo" 的内容</div>
  <p><br><div class="daohanglan-1">此处显示  class "daohanglan-1" 的内容</div></br></p>
  <br><div class="daohanglan-1">此处显示  class "daohanglan-1" 的内容</div></br>
  <br><div class="daohanglan-1">此处显示  class "daohanglan-1" 的内容</div></br>
  
</div>
</body>
</html>
