{% extends 'bms/base.html' %}
{% load static %}
{% block title %} 互动管理 {% endblock %}
{% block tab_interactive %}class='active'{% endblock %}

{% block content_block %}


    <div class="row">

        <div class="col-sm-2">
            <h4 class="visible-xs"></h4>
            <ul class="nav nav-pills nav-stacked">
                <li {% block interactive_suggestions %}{% endblock %}><a href="{% url 'bms:suggestions_list' '1'%}">意见和建议</a></li>
            </ul>
            <hr class="visible-xs"/>
        </div>

        <div class="col-sm-10">
            {% block page_top %}{% endblock %}
            {% block page_middle %}{% endblock %}
            {% block page_bottom %}{% endblock %}
        </div>
    </div>

{% endblock %}


