{% extends 'bms/log/base_log.html' %}
{% load static %}
{% load legoo_tag %}
{% block level_1 %}in{% endblock %}
{% block bms_log %}active{% endblock %}

{% block page_middle %}
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <h2 class="text-center">日志详情 </h2>

            {% if message and message != '' %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="alert alert-warning">{{ message }}</div>
                    </div>
                </div>
            {% endif %}

            <table class="table table-bordered">
                <tr>
                  <td class="info text-center">用户名</td>
                  <td class="text-left">{{ log.user.username }} </td>
                </tr>
                <tr>
                  <td class="info text-center">用户id</td>
                  <td class="text-left">{{ log.user.id }} </td>
                </tr>
                <tr>
                  <td class="info text-center">发生时间</td>
                  <td class="text-left">{{ log.create_time|date:'Y年m月d日 H:i:s ' }} </td>
                </tr>
                <tr>
                  <td class="info text-center">IP地址</td>
                  <td class="text-left">{{ log.ip }} </td>
                </tr>
                <tr>
                  <td class="info text-center">操作类型</td>
                  <td class="text-left">{{ log|displayName:'type' }} </td>
                </tr>
                <tr>
                  <td class="info text-center">操作地址</td>
                  <td class="text-left">{{ log.path }} </td>
                </tr>
                <tr>
                  <td class="info text-center">操作内容</td>
                  <td class="text-left"></td>
                </tr>
                <tr>
                  <td class="text-left" colspan="2"><pre class="pre-scrollable">{{ log.content }} </pre></td>
                </tr>
            </table>
            <button class="btn btn-danger" type="button" data-toggle="modal" data-target="#delete_log_modal"><i class="fa fa-trash-o"></i> 删 除</button>
            <button class="btn btn-default" onclick="history.back()" ><i class="fa fa-times"></i> 返 回</button>
        </div>
        <div class="col-sm-3"></div>
    </div>
     {#删除确认模态框#}
     <div class="modal fade" id="delete_log_modal" tabindex="-1" role="dialog" >
        <div class="modal-dialog">
            <form id="delete_log_form" class="form" method="post" action="#"  >  {% csrf_token %}
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-trash-o"></i> 删除异常信息</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group" >
                        <label class="control-label">删除后不可恢复，是否确认删除？</label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a class="btn btn-danger" href="{% url 'bms:log_delete' log.id %}" ><i class="fa fa-trash-o"></i> 删 除</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> 退 出</button>
                  </div>
                </div>
            </form>
        </div>
     </div>
{% endblock %}
