{% extends 'bms/product/base_product.html' %}
{% load static %}
{% load legoo_tag %}
{% block product_head_company %}class='active'{% endblock %}
{% block title %} 创建保险总公司 {% endblock %}

{% block page_top %}
<div class="row">
        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <i class="fa fa-plus fa-3x pull-right"></i>
                    <form role="form" id="create_head_company_form" method="post" action="{% url 'bms:head_company_create' %}"  enctype="multipart/form-data">  {% csrf_token %}

                        <div class="page-header">
                          <h1 class="text-center">添加保险总公司</h1>
                        </div>
                        {% if message and message != '' %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="alert alert-warning">{{ message }}</div>
                                </div>
                            </div>
                        {% endif %}
						<div class="form-group" >
							<label for="id_name"><i class="fa fa-user"></i> *总公司名称： </label>
							<input class="form-control"  id="id_name" name="name" type="text"
								   value="{{ posted_data.name|default_if_none:'' }}" maxlength="100" required >
						</div>
						<div class="form-group" >
							<label for="id_description"><i class="fa fa-road"></i> *公司介绍： </label>
							<input class="form-control"  id="id_description" name="description" type="text"
								   value="{{ posted_data.description }}" maxlength="500" required >
						</div>
						<div class="form-group" >
							<label for="id_phone"><i class="fa fa-road"></i> *报案电话： </label>
							<input class="form-control"  id="id_phone" name="phone" type="text"
								   value="{{ posted_data.phone }}" maxlength="500" required >
						</div>

                        <div class="form-group">
                            <label for="id_channel"><i class="fa fa-life-bouy"></i> 是否激活： </label>
                            <div class="">
                                <label class="radio-inline">
                                  <input type="radio" name="active" id="id_show" value="show" checked> 显示
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="active" id="id_hidden" value="hidden"> 隐藏
                                </label>
                            </div>
                        </div>
                        <button class="btn btn-success" type="submit" ><i class="fa fa-floppy-o"></i> 保 存</button>
                        <a class="btn btn-default" href="{% url 'bms:head_company_list' '1' %}"><i class="fa fa-times"></i> 返 回</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
</div>

{% endblock %}

{% block script_block %}
    <script type="text/javascript">
       $(function(){

            $('#create_head_company_form').formValidation({
                // I am validating Bootstrap form
                framework: 'bootstrap',
                locale : 'zh_CN',
                // Feedback icons
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },

                // List of fields and their validation rules
                fields: {
                    name: {
                        validators: {
 /*                            notEmpty: {
                                message: '保险公司名称不可为空'
                            }, */
                            stringLength: {
                                min: 2,
                                max: 20,
                                message: '请输入2～20个字符'
                            }
                        }
                    },
                    description: {
                        validators: {
                            stringLength: {
                                min: 2,
                                max: 500,
                                message: '请输入2～500个字符'
                            }
                        }
                    },
                    phone: {
                        validators: {
                            regexp: {
                                regexp: /^[0-9]+$/,
                                message: '手机号码只能由数字组成'
                            }
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}