{% extends 'bms/product/base_product.html' %}
{% load static %}
{% load legoo_tag %}
{% block recommend_product_list %}class='active'{% endblock %}
{% block title %} 特推产品列表 {% endblock %}

{% block page_top %}
    <div class="row">
        <div class="col-sm-12">
            <form id="head_company_search_form" class="form-inline" role="form" method="post" action="{% url 'bms:recommend_product_list' '1' %}"> {% csrf_token %}
                <div class="input-group">
                    <input type="text" class="form-control" id="search_keyword" placeholder="请输入关键字" name="search_keyword" value="{{ search_keyword}}" maxlength="30">
                     <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                        <button id="cancel_search" type="button" class="btn btn-default"><i class="fa fa-times"></i> 取消</button>
                    </span>
                </div>
                <div class="input-group">
                    <label for="id_state" class="input-group-addon">状态：</label>
                    <select id="id_state" name="state" class="input-group-addon" onchange="change_state();">
                        <option value="all">全部</option>
                        <option value="active" {% if get_data.state == "active" or not get_data %} selected {% endif %}>显示</option>
                        <option value="hidden" {% if get_data.state == "hidden" %} selected {% endif %}>隐藏</option>
                    </select>
                </div>
{#                <div class="input-group">#}
{#                    <label for="id_certification_goal" class="input-group-addon">激活状态：</label>#}
{#                    <select id="id_certification_goal" name="certification_goal" class="input-group-addon">#}
{#                        <option value="" >全部</option>#}
{#                        <option value="transport" {% if get_data.certification_goal == "transport" %} selected {% endif %}>激活</option>#}
{#                        <option value="driver" {% if get_data.certification_goal == "driver" %} selected {% endif %}>不激活</option>#}
{#                    </select>#}
{#                </div>#}

{#                <div class="input-group">#}
{#                    <span class="input-group-btn">#}
{#                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>#}
{#                        <button id="cancel_search" type="button" class="btn btn-default"><i class="fa fa-times"></i> 取消</button>#}
{#                    </span>#}
{#                </div>#}
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% if search_keyword %}
            <p></p>
            <div class="alert alert-warning">
                <p>关键字： “{{ search_keyword }}”， 搜索结果：{{ paging.item_count }}</p>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
        {% if paging.total_pages_count > 0 %}
            <ul class="pagination">
                <li><a href="javascript:;" onclick='$("#choose_prev_page").submit();'>&laquo;</a></li>
                {% for page in paging.pages %}
                    <li {% if page == paging.page_index %}class="active"{% endif %}><a href="javascript:;" onclick='$("#choose_page_{{page}}").submit();'>{{ page }}</a></li>
                     <form id="choose_page_{{page}}" class="hidden" role="" method="post" action="{% url 'bms:recommend_product_list' page %}"> {% csrf_token %}
		                <input type="hidden"  name="search_keyword"{% if search_keyword %} value="{{search_keyword}}"{% else %}value=""{% endif %}>
		                <input type="hidden"  name="state"{% if get_data.state %} value="{{get_data.state}}"{% else %}value="active"{% endif %}>
		                <input type="submit" name="argsubmit" style="display:none"/>
	         </form>  
                {% endfor %}
                <li><a href="javascript:;" onclick='$("#choose_next_page").submit();'>&raquo;</a></li>
                <div class="clearfix"></div>
                <p>
                    第{{ paging.page_index }}页/共{{ paging.total_pages_count }}页 &nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="javascript:;" onclick='$("#first_page").submit();'>首页</a> / <a href="javascript:;" onclick='$("#last_page").submit();'>尾页</a>
                </p>
            </ul>
                   {#*****************************上一页搜索表单******************#}
			<form id="choose_prev_page" class="hidden" role="" method="post" action="{% url 'bms:recommend_product_list' paging.prev_page %}"> {% csrf_token %}
		                <input type="hidden"  name="search_keyword"{% if search_keyword %} value="{{search_keyword}}"{% else %}value=""{% endif %}>
		                <input type="hidden"  name="state"{% if get_data.state %} value="{{get_data.state}}"{% else %}value="active"{% endif %}>
		                <input type="submit" name="argsubmit" style="display:none"/>
	         </form>   
            {#*****************************下一页搜索表单******************#}
			<form id="choose_next_page" class="hidden" role="" method="post" action="{% url 'bms:recommend_product_list' paging.next_page %}"> {% csrf_token %}
		                <input type="hidden"  name="search_keyword"{% if search_keyword %} value="{{search_keyword}}"{% else %}value=""{% endif %}>
		                <input type="hidden"  name="state"{% if get_data.state %} value="{{get_data.state}}"{% else %}value="active"{% endif %}>
		                <input type="submit" name="argsubmit" style="display:none"/>
	         </form> 
            {#*****************************首页搜索表单******************#}
			<form id="first_page" class="hidden" role="" method="post" action="{% url 'bms:recommend_product_list' 1 %}"> {% csrf_token %}
		               <input type="hidden"  name="search_keyword"{% if search_keyword %} value="{{search_keyword}}"{% else %}value=""{% endif %}>
		                <input type="hidden"  name="state"{% if get_data.state %} value="{{get_data.state}}"{% else %}value="active"{% endif %}>
		                <input type="submit" name="argsubmit" style="display:none"/>
	         </form> 
            {#*****************************尾页搜索表单******************#}
			<form id="last_page" class="hidden" role="" method="post" action="{% url 'bms:recommend_product_list' paging.total_pages_count %}"> {% csrf_token %}
		                <input type="hidden"  name="search_keyword"{% if search_keyword %} value="{{search_keyword}}"{% else %}value=""{% endif %}>
		                <input type="hidden"  name="state"{% if get_data.state %} value="{{get_data.state}}"{% else %}value="active"{% endif %}>
		                <input type="submit" name="argsubmit" style="display:none"/>
	         </form> 
            
            
        {% endif %}
        </div>
        <div class="col-sm-4">
            <br/><br/>
            <a class="btn btn-primary pull-right" href="{% url 'bms:recommend_product_create' %}"><i class="fa fa-plus"></i> 创建特推产品</a>
        </div>

    </div>
{% endblock %}


{% block page_middle %}
    {% if message and message != '' %}
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-warning">{{ message }}</div>
            </div>
        </div>
    {% endif %}

    <div class="row" style="margin-top: 10px">
        <div class="col-sm-12">
            <div class="list-group" id="notice_group">
                <input type="hidden" id="page_index" name="page_index" value="{{ page_index }}"/>
                    <div class="list-group-item">
                        <div class="row" >
                            <div class="col-sm-2">
                                <p class="list-group-item-text text-center">特推产品名称</p>
                            </div>
                            <div class="col-sm-2">
                                <p class="list-group-item-text text-center">产品分类</p>
                            </div>
                            <div class="col-sm-2">
                                <p class="list-group-item-text text-center">联系电话</p>
                            </div>
                            <div class="col-sm-2">
                                <p class="list-group-item-text text-center">显示状态</p>
                            </div>
                            <div class="col-sm-2">
                                <p class="list-group-item-text text-center">创建时间</p>
                            </div>
                            <div class="col-sm-2">
                                <p class="list-group-item-text text-center">操作</p>
                            </div>
                        </div>
                    </div>
					
					
					{% for recommend_product in recommend_product_set %}
                         <div class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p class="list-group-item-text text-center"><strong>{{ recommend_product.name }}</strong></p>
                                </div>
                                <div class="col-sm-2">
	                                <p class="list-group-item-text text-center"><strong>{{ recommend_product|displayName:'product_type'  }}</strong></p>
	                            </div>
                                <div class="col-sm-2">
                                    <p class="list-group-item-text text-center">{{ recommend_product.phone  }}</p>
                                </div>
                                <div class="col-sm-2">
                                    <p class="list-group-item-text text-center">{% if recommend_product.is_hidden %}隐藏 {% else %}显示 {% endif %}</p>
                                </div>
                                <div class="col-sm-2">
                                    <p class="list-group-item-text text-center">{% if recommend_product.create_time %}{{ recommend_product.create_time|date:'Y年m月d日'}}{% endif %}</p>
                                </div>
                            <div class="col-sm-2">
									  <div class="row text-center">
									  	  		<a href="{% url 'bms:recommend_product_detail' recommend_product.id %}"><button class="btn btn-xs btn-success" style="width:30px;" title="查看详情"><i class="fa fa-search-plus" ></i></button></a>
									  			<a href="{% url 'bms:recommend_product_edit' recommend_product.id %}"><button class="btn btn-xs btn-info" style="width:30px;" title="编辑"><i class="fa fa-edit"></i></button></a>
									  			<a href="{% url 'bms:recommend_product_delete' recommend_product.id %}" onclick="return confirmAct();"><button class="btn btn-xs btn-danger" style="width:30px;" title="删除"><i class="fa fa-trash-o"></i></button></a>
									 </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
       </div>
    </div>
{% endblock %}

{% block page_bottom %}



{% endblock %}


{% block script_block %}
    <script type="text/javascript">

        //“全部”按钮的响应事件，清空搜索关键字，然后提交搜索
        $('#cancel_search').click(function(event) {
            console.log("click cancel_search");
            $('#search_keyword').val('');
            $('#head_company_search_form').submit();
          });
        function change_state(){
            $('#head_company_search_form').submit();
        }
    </script>
{% endblock %}