{% extends 'bms/product/base_product.html' %}
{% load static %}
{% load legoo_tag %}
{% block product_tail_company %}class='active'{% endblock %}
{% block title %} 创建保险分公司 {% endblock %}

{% block page_top %}
<div class="row">
        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <i class="fa fa-plus fa-3x pull-right"></i>
                    <form role="form" id="create_tail_company_form" method="post" action="{% url 'bms:tail_company_create' %}"  enctype="multipart/form-data">  {% csrf_token %}

                        <div class="page-tailer">
                          <h1 class="text-center">添加保险分公司</h1>
                        </div>
                        {% if message and message != '' %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="alert alert-warning">{{ message }}</div>
                                </div>
                            </div>
                        {% endif %}
						<div class="form-group" >
							<label for="id_name"><i class="fa fa-user"></i> *分公司名称： </label>
							<input class="form-control"  id="id_name" name="name" type="text"
								   value="{{ posted_data.name|default_if_none:'' }}" maxlength="100" required >
						</div>
						<div class="form-group" >
							<label for="id_simple_name"><i class="fa fa-user"></i> *分公司简称： </label>
							<input class="form-control"  id="id_simple_name" name="simple_name" type="text"
								   value="{{ posted_data.simple_name|default_if_none:'' }}" maxlength="100" required >
						</div>
                        <div class="form-group" >
                            <label for="id_head_company_id"><i class="fa fa-film"></i> *分公司所属总公司： </label>
                            <select class="form-control" id="id_head_company_id" name="head_company_id"required>
                                <option value="">请选择</option>
                                  {% for head_company in head_companys %}
                                    <option value="{{ head_company.id }}" {% if posted_data.head_company_id|toString == head_company.id|toString %} selected {% endif %}>{{ head_company.name }}</option>
                                  {% endfor %}
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="id_channel"><i class="fa fa-life-bouy"></i> 是否激活： </label>
                            <div class="">
                                <label class="radio-inline">
                                  <input type="radio" name="active" id="id_show" value="show" checked> 显示
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="active" id="id_hidden" value="hidden"> 隐藏
                                </label>
                            </div>
                        </div>
                        <button class="btn btn-success" type="submit" ><i class="fa fa-floppy-o"></i> 保 存</button>
                        <a class="btn btn-default" href="{% url 'bms:tail_company_list' '1' %}"><i class="fa fa-times"></i> 返 回</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
</div>

{% endblock %}

{% block script_block %}
    <script type="text/javascript">
       $(function(){

            $('#create_tail_company_form').formValidation({
                // I am validating Bootstrap form
                framework: 'bootstrap',
                locale : 'zh_CN',
                // Feedback icons
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },

                // List of fields and their validation rules
                fields: {
                    name: {
                        validators: {
           /*                  notEmpty: {
                                message: '保险公司名称不可为空'
                            }, */
                            stringLength: {
                                min: 2,
                                max: 20,
                                message: '请输入2～20个字符'
                            }
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}