{% extends 'bms/user/base_user.html' %}
{% load static %}
{% if admin.is_superuser %}
{% block user_admin %}class='active'{% endblock %}
{% endif %}



{% block page_top %}
    <div class="row">
        <div class="col-sm-12">
            <form id="admin_search_form" class="form-inline" role="form" method="post" action="{% url 'bms:admin_list' '1' %}"> {% csrf_token %}
                <div class="input-group">
                    <label class="sr-only" for="management_admin_search">management_admin_search</label>
                    <input type="text" class="form-control" id="search_keyword" placeholder="用户名" name="search_keyword" value="{{ search_keyword }}" maxlength="30">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                        <button id="cancel_search" type="button" class="btn btn-default"><i class="fa fa-times"></i> 取消</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% if search_keyword %}
            <p></p>
            <div class="alert alert-warning">
                <p>关键字： “{{ search_keyword }}”， 搜索结果：{{ paging.item_count }}</p>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            {% if paging.total_pages_count > 0 %}
            <ul class="pagination">
                <li><a href="{% url 'bms:admin_list' paging.prev_page %}">&laquo;</a></li>
                {% for page in paging.pages %}
                    <li {% if page == paging.page_index %}class="active"{% endif %}><a href="{% url 'bms:admin_list' page %}">{{ page }}</a></li>
                {% endfor %}
                <li><a href="{% url 'bms:admin_list' paging.next_page %}">&raquo;</a></li>
                <div class="clearfix"></div>
                <p>
                    第{{ paging.page_index }}页/共{{ paging.total_pages_count }}页 &nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="{% url 'bms:admin_list' '1' %}">首页</a> / <a href="{% url 'bms:admin_list' paging.total_pages_count %}">尾页</a>
                </p>
            </ul>
            {% endif %}
        </div>
        <div class="col-sm-4">
            <br/><br/>
            <a class="btn btn-primary pull-right" href="{% url 'bms:admin_create' %}"><i class="fa fa-plus"></i> 创建后台管理员</a>
        </div>

    </div>


{% endblock %}


{% block page_middle %}
    {% if msg and msg != '' %}
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-warning">{{ msg }}</div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12">
            <div class="list-group" id="notice_group">
                <input type="hidden" id="page_index" name="page_index" value="{{ page_index }}"/>
                    {% for admin in admins %}
                        <a href="{% url 'bms:admin_edit' admin.id %}" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-3"style="max-width: 300px; word-wrap:break-word;">
                                    <h3 class="list-group-item-heading"><strong>{{ admin.username }}</strong></h3>
                                </div>
                                <div class="col-sm-4">
                                    <p class="list-group-item-text">激活：{% if admin.is_active %}<i class="fa fa-check text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}</p>
                                    <p class="list-group-item-text">权限：{% if admin.is_superuser %}超级管理员{% else %}管理员{% endif %}</p>
                                </div>
                                <div class="col-sm-5">
                                    <p class="list-group-item-text">上次登录：{{ admin.last_login|date:'Y年m月d日 H:i:s' }}</p>
                                    <p class="list-group-item-text">创建日期：{{ admin.date_joined|date:'Y年m月d日 H:i:s' }}</p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
       </div>
    </div>
{% endblock %}



{% block page_bottom %}



{% endblock %}









{% block script_block %}
    <script type="text/javascript">

        //“全部”按钮的响应事件，清空搜索关键字，然后提交搜索
        $('#cancel_search').click(function(event) {
            console.log("click cancel_search");
            $('#search_keyword').val('');
            $('#admin_search_form').submit();
          })

    </script>
{% endblock %}
