{% extends 'bms/user/base_user.html' %}
{% load static %}
{% load legoo_tag %}
{% block user_claim %}class='active'{% endblock %}
{% block title %} 编辑理赔人员 {% endblock %}



{% block page_top %}
    <div class="row">
        <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <i class="fa fa-edit fa-3x pull-right"></i>
                        <h1>{{ client.profile.nickname }}</h1>
                            <p>上次登录：{{ client.user.last_login|date:'Y年m月d日 H:i:s'  }}</p>
                            <p>创建时间：{{ client.user.date_joined|date:'Y年m月d日 H:i:s'  }}</p>
                        <hr/>
{#                            <p>用户名：{{ client.user.username }}</p>#}
{#                            <p>用户ID：{{ client.profile.user_id  }}</p>#}
{#                            <p>电子邮箱：{{ client.user.email|default_if_none:''   }}</p>#}
                            <p>性别：{{ client.profile|displayName:'sex'  }}</p>
                            <p>常住地：{{ client.profile.address|default_if_none:''   }}</p>
                            <p>积分：{{ client.cumulative_score  }}</p>
                            <p>头像：<img class="img-responsive " src="{% static '' %}{{ client.profile.icon }}" style="height: 50px;word-break:break-all" alt="用户头像"/></p>

                        <hr/>

                        {% if alert %}
                            <div class="alert alert-warning">
                                <p class="text-center">{{ alert }}</p>
                            </div>
                        {% endif %}

                        <form id="claim_edit_form" method="post" action="{% url 'bms:claim_edit' client.id %}"  enctype="multipart/form-data">{% csrf_token %}
{#                            <input type="text" hidden name="page_index" value="{{ page_index }}"/>#}
                            <div class="form-group" >
                                <label for="name" ><i class="fa fa-leaf"></i> *昵称： </label>
                                <input class="form-control"  id="name" name="name" type="text" value="{{ client.profile.nickname }}" maxlength="16">
                            </div>
                            <div class="form-group">
                                <label for="phone_number" ><i class="fa fa-phone"></i> *手机号码：</label>
                                <input class="form-control" id="phone_number" name="phone" value="{{ client.profile.phone|default_if_none:'' }}" type="text"  maxlength="16">
                            </div>

                            <div class="form-group">
                                <label for="password" ><i class="fa fa-lock"></i> 更改密码：</label>
                                <input class="form-control" id="password" name="password"  type="password" maxlength="128">
                            </div>
                            <div class="form-group" >
                                <label for="id_cumulative_score"><i class="fa fa-star"></i> 积分： </label>
                                <input class="form-control"  id="id_cumulative_score" name="cumulative_score" type="number"
                                       value="{{ client.cumulative_score }}" required >
                            </div>
                            <div class="form-group">
                                <label for="id_channel"><i class="fa fa-life-bouy"></i> 是否激活： </label>
                                <div class="checkbox">
                                    <label><input type="checkbox" name="active" value="true"  {% if client.user.is_active %} checked{% endif %}> 激活</label>
                                </div>
                            </div>


                            <a class="btn btn-danger" data-toggle="modal" data-target="#delete_claim_modal"><i class="fa fa-trash"></i> 删 除</a>
                            <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> 保 存</button>
                            <button class="btn btn-default" onclick="history.back()" ><i class="fa fa-times"></i> 返 回</button>

                        </form>


                    </div>
                </div>

       </div>
    </div>

     {#删除用户确认模态框#}
     <div class="modal fade" id="delete_claim_modal" tabindex="-1" role="dialog" >
        <div class="modal-dialog">
            <form id="delete_comment_form" class="form" method="post" action="#"  >  {% csrf_token %}
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title"><i class="fa fa-trash-o"></i> 删除客户</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group" >
                        <label class="control-label">客户删除后不可恢复，是否确认删除？</label>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a class="btn btn-danger" href="{% url 'bms:claim_delete' client.id %}" ><i class="fa fa-trash-o"></i> 删 除</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> 退 出</button>
                  </div>
                </div>
            </form>
        </div>
     </div>

{% endblock %}

{% block script_block %}
    <script type="text/javascript">
       $(function(){

            $('#claim_edit_form').formValidation({
                // I am validating Bootstrap form
                framework: 'bootstrap',
                locale : 'zh_CN',
                // Feedback icons
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },

                // List of fields and their validation rules
                fields: {
                    name: {
                        validators: {
                            notEmpty: {
                                message: '理赔人员姓名不可为空'
                            },
                            stringLength: {
                                min: 2,
                                max: 30,
                                message: '请输入2～30个字符'
                            }
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: '密码不可以空'
                            },
                            stringLength: {
                                min: 5,
                                max: 128,
                                message: '请输入5～128个字符'
                            }
                        }
                    },
                    phone: {
                        validators: {
                            regexp: {
                                regexp:  /^0?(13[0-9]|15[012356789]|17[0678]|18[0-9]|14[57])[0-9]{8}$/,
                                message: '请输入正确的手机号码'
                            }
                        }
                    }
                }
            });


        });
    </script>
{% endblock %}

