{% extends 'bms/user/base_user.html' %}
{% load static %}
{% load legoo_tag %}
{% block user_intermediary_people %}class='active'{% endblock %}
{% block title %} 创建中介人员 {% endblock %}

{% block page_top %}

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <i class="fa fa-plus fa-3x pull-right"></i>
                        <form role="form" id="create_intermediary_people_form" method="post" action="{% url 'bms:intermediary_people_create' %}"  enctype="multipart/form-data">  {% csrf_token %}

                            <div class="page-header">
                              <h1 class="text-center">创建中介人员</h1>
                            </div>
                            {% if message %}
                                <div class="alert alert-warning">
                                <p>{{ message }}</p>
                                </div>
                            {% endif %}

                            <div class="form-group" >
                                <label for="id_name"><i class="fa fa-leaf"></i> *姓名： </label>
                                <input class="form-control" id="id_name" name="name"  type="text" value="{{ posted_data.name|default_if_none:"" }}" required >
                            </div>

                            <div class="form-group" >
                                <label for="id_phone"><i class="fa fa-phone"></i> *手机号码： </label>
                                <input class="form-control"  id="id_phone" name="phone" type="tel"
                                       value="{{ posted_data.phone|default_if_none:"" }}" required>
                            </div>
                            <div class="form-group" >
                                <label for="id_company_id"><i class="fa fa-film"></i> *归属于保险中介： </label>
                                <select class="form-control" id="intermediary_id" name="intermediary_id">
                                      {% for intermediary_detail in intermediary_set %}
                                        <option value="{{ intermediary_detail.id }}" {% if posted_data.intermediary_id|toString == intermediary_detail.id|toString %} selected {% endif %}>{{ intermediary_detail.intermediary_name }}</option>
                                      {% endfor %}
                                </select>
                            </div>

                            <div class="form-group" >
                                <label for="id_password"><i class="fa fa-lock"></i> *密码： </label>
                                <input class="form-control" id="id_password" name="password"  type="password" maxlength="20" required >
                            </div>
                            <div class="form-group" >
                                <label for="id_password"><i class="fa fa-lock"></i> *确认密码： </label>
                                <input class="form-control" id="id_re_password" name="re_password"  type="password" maxlength="20" required >
                            </div>
                            

                            <div class="form-group">
                                <label for="id_channel"><i class="fa fa-life-bouy"></i> 是否激活： </label>
                                <div class="">
                                    <label class="radio-inline">
                                      <input type="radio" name="active" id="id_show" value="show" checked> 激活
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" name="active" id="id_hidden" value="hidden"> 不激活
                                    </label>
{#                                    <label><input type="radio" name="active" value="true"  checked> 激活</label>#}
                                </div>
                            </div>

                            <button class="btn btn-success" type="submit" ><i class="fa fa-floppy-o"></i> 保 存</button>
                            <button class="btn btn-default" onclick="history.back()" ><i class="fa fa-times"></i> 返 回</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>

{% endblock %}

{% block script_block %}
    <script type="text/javascript">
       $(function(){

            $('#create_intermediary_people_form').formValidation({
                // I am validating Bootstrap form
                framework: 'bootstrap',
                locale : 'zh_CN',
                // Feedback icons
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },

                // List of fields and their validation rules
                fields: {
                    name: {
                        validators: {
                            notEmpty: {
                                message: '中介人员姓名不可为空'
                            },
                            stringLength: {
                                min: 2,
                                max: 16,
                                message: '请输入2～16个字符'
                            }
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: '密码不可以空'
                            },
                            stringLength: {
                                min: 5,
                                max: 20,
                                message: '请输入5～20个字符'
                            }
                        }
                    },
                    phone: {
                        validators: {
                            regexp: {
                                regexp:  /^0?(13[0-9]|15[012356789]|17[0678]|18[0-9]|14[57])[0-9]{8}$/,
                                message: '请输入正确的手机号码'
                            }
                        }
                    }
                }
            });


        });
    </script>
{% endblock %}