{% extends 'bms/settings/base_settings.html' %}
{% load static %}
{% load legoo_tag %}
{% block level_5 %} in {% endblock %}
{% block advertising %}class='active'{% endblock %}
{% block title %} 创建广告 {% endblock %}

{% block page_top %}
<div class="row">
        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <i class="fa fa-plus fa-3x pull-right"></i>
                    <form role="form" id="create_insurance_product_form" method="post" action="{% url 'bms:advertising_create' %}"  enctype="multipart/form-data">  {% csrf_token %}
						<input class="form-control"  id="" name="advertising_state" type="hidden"value="create" >
                        <div class="page-tailer">
                          <h1 class="text-center">创建广告</h1>
                        </div>
                        {% if message and message != '' %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="alert alert-warning">{{ message }}</div>
                                </div>
                            </div>
                        {% endif %}
						<div class="form-group" >
							<label for="id_name"><i class="fa fa-user"></i> *名称： </label>
							<input class="form-control"  id="id_name" name="name" type="text"
								   value="{{ posted_data.name|default_if_none:'' }}" required >
						</div>
						<div class="form-group" >
                            <label class="control-label" for="id_batch_image"><i class="fa fa-picture-o"></i>上传照片<small>（gif、png、jpeg或icon;）</small>: </label>
                            <input class="filestyle" type="file" id="picture" name="picture" data-icon="true" data-input="true" data-buttonText="选择图片" data-iconName="glyphicon-inbox" >
                        </div>
                        <div class="form-group" >
							<label for="id_product_type"><i class="fa fa-globe"></i> *广告位  </label>
                            <select class="form-control" id="advertising_position" name="advertising_position">
                                  {% for advertising_position in advertising_position_list %}
                                    <option value="{{ advertising_position.id }}" {% if posted_data.advertising_position|toString == advertising_position.id|toString  %} selected="selected"  {% endif %}>{{advertising_position.name}}</option>
                                  {% endfor %}
                            </select>
						</div>
                        <div class="form-group" >
							<label for="id_name"><i class="fa fa-user"></i> *对应网址 </label>
							<input class="form-control"  id="advertising_url" name="advertising_url" type="text"
								   value="{{ posted_data.advertising_url|default_if_none:'' }}"  >
						</div>

 					  <div class="form-group"style="display: block;" id="id_state_id">
                            <label for="id_channel"><i class="fa fa-life-bouy"></i> 是否激活： </label>
                            <div class="">
                                <label class="radio-inline">
                                  <input type="radio" name="active" id="id_show" value="show" {% if posted_data.active == 'show'  or not posted_data %}checked{% endif %}> 显示
                                </label>
                                <label class="radio-inline">
                                  <input type="radio" name="active" id="id_hidden" value="hidden"{% if posted_data.active == 'hidden'    %}checked{% endif %}> 隐藏
                                </label>
                            </div>
                        </div>
                        
                        <button class="btn btn-success" type="submit" ><i class="fa fa-floppy-o"></i> 保 存</button>
                        <a class="btn btn-default" href="{% url 'bms:advertising_list' '1' %}"><i class="fa fa-times"></i> 返 回</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
</div>
{% endblock %}

{% block page_middle %}
{% endblock %}


{% block page_bottom %}
{% endblock %}


{% block script_block %}
    <script charset="utf-8" src="{% static 'kindEditor/kindeditor.js' %}"></script>
	<script charset="utf-8" src="{% static 'kindEditor/lang/zh_CN.js' %}"></script>
	<script>

	</script>

{% endblock %}