{% extends 'bms/settings/base_settings.html' %}
{% load static %}
{% load legoo_tag %}
{% block level_5 %} in {% endblock %}
{% block advertising_position %}class='active'{% endblock %}
{% block title %} 广告位详情 {% endblock %}

{% block page_top %}
<div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
        <h2 class="text-center">广告位详情</h2>
        {% if message and message != '' %}
             <div class="row">
                 <div class="col-sm-12">
                     <div class="alert alert-warning text-center">{{ message }}</div>
                 </div>
             </div>
         {% endif %}
        <table class="table table-bordered">
                <tr>
                  <td class="info text-center">名称</td>
                  <td class="text-center">{{ advertising_position.name }} </td>
                </tr>
                <tr>
                  <td class="info text-center">编码</td>
                  <td class="text-center">{{ advertising_position.paper_id }} </td>
                </tr>
                {% if advertising_position.picture %}
                <tr>
                  <td class="info text-center">图标</td>
                  <td class="text-center">
                  		<a href="{% static '' %}{{ advertising_position.picture }}" target="_blank"><img class="img-responsive center-block" src="{% static '' %}{{ advertising_position.picture }}" style="max-width: 300px;max-height: 300px;word-break:break-all" alt="图标"/></a>
                   </td>
                </tr>
                {% endif %}
                <tr>
                  <td class="info text-center">补充信息</td>
                  <td class="text-center">{{ advertising_position.note }} </td>
                </tr>
                <tr>
                  <td class="info text-center">状态</td>
                  <td class="text-center">{% if advertising_position.is_hidden %}隐藏 {% else %}显示 {% endif %} </td>
                </tr>
                <tr>
                  <td class="info text-center">创建时间</td>
                  <td class="text-center">{{ advertising_position.create_time }} </td>
                </tr>
       </table>
        <a class="btn btn-success" href="{% url 'bms:advertising_position_edit' advertising_position.id %}"><i class="fa fa-edit"></i> 编 辑</a>
        <a class="btn btn-default" href="{% url 'bms:advertising_position_list' '1' %}"><i class="fa fa-times"></i> 返 回</a>
        
        
        
        </div>
        <div class="col-sm-2"></div>
  </div>
{% endblock %}

{% block page_middle %}
{% endblock %}


{% block page_bottom %}
{% endblock %}


{% block script_block %}
    <script charset="utf-8" src="{% static 'kindEditor/kindeditor.js' %}"></script>
	<script charset="utf-8" src="{% static 'kindEditor/lang/zh_CN.js' %}"></script>
	<script>

	</script>

{% endblock %}