{% extends 'bms/order/base_order.html' %}
{% load static %}
{% load legoo_tag %}
{% block order_order %}class='active'{% endblock %}
{% block title %} 订单列表 {% endblock %}

{% block page_top %}
    <div class="row">
        <div class="col-sm-12">
            <form id="order_search_form" class="form-inline" role="form" method="post" action="{% url 'bms:order_list' '1' %}"> {% csrf_token %}
                <div class="input-group">
                    <label for="id_state" class="input-group-addon">显示状态：</label>
                    <select id="id_state" name="state" class="input-group-addon" onchange="change_state();">
                        <option value="all">全部</option>
                        <option value="active" {% if get_data.state == "active" or not get_data %} selected {% endif %}>显示</option>
                        <option value="hidden" {% if get_data.state == "hidden" %} selected {% endif %}>隐藏</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="id_pay_state" class="input-group-addon">订单状态：</label>
                    <select id="id_pay_state" name="pay_state" class="input-group-addon" onchange="change_state();">
                        <option value="all_order">全部</option>
                        <option value="init" {% if get_data.pay_state == "init"  %} selected {% endif %}>未支付</option>
                        <option value="paid" {% if get_data.pay_state == "paid" %} selected {% endif %}>已支付</option>
                        <option value="done" {% if get_data.pay_state == "done" %} selected {% endif %}>已完成</option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="id_user_type" class="input-group-addon">用户类别：</label>
                    <select id="id_user_type" name="user_type" class="input-group-addon" onchange="change_state();">
                        <option value="">全部</option>
                        <option value="registered" {% if get_data.user_type == "registered" %} selected {% endif %}>注册用户</option>
                        <option value="transport" {% if get_data.user_type == "transport" %} selected {% endif %}>物流公司</option>
                        <option value="driver" {% if get_data.user_type == "driver" %} selected {% endif %}>司机</option>
                        <option value="boss" {% if get_data.user_type == "boss" %} selected {% endif %}>货主</option>
                    </select>
                </div>
               
                <div class="input-group">
                    <label for="id_client_sign" class="input-group-addon">投保人：</label>
                    <select id="id_client_sign" name="client_sign" class="chosen-select input-group-addon " onchange="change_state();">
                    <option selected="selected" value="">  </option>
                        <option value="">全部</option>
                            {% for client in clients %}
                                <option value="{{ client.id }}" {% if get_data.id_client == client.id|toString %} selected {% endif %}>{{ client.profile.phone  }}--{% if client.company_name %}{{ client.company_name }}{% else %}{{ client.name }}{% endif %}</option>
                            {% endfor %}
                    </select>
                </div>
            <br/>
                <div class="input-group" style="margin-top: 15px">
                    <label for="id_client_sign" class="input-group-addon">起始时间：</label>
                    <input type="datetime" value="{% if request.POST %}{{ posted_data.start_time }}{% else %}{{ start_time }}{% endif %}" style="height: 32px;" id="id_start_time" name="start_time" placeholder="点击选取起始时间 " onFocus="WdatePicker({isShowClear:false,readOnly:true,dateFmt: 'yyyy-MM-dd'})" >
                </div>
                <div class="input-group" style="margin-top: 15px">
                    <label for="id_client_sign" class="input-group-addon">结束时间：</label>
                    <input type="datetime" value="{% if request.POST %}{{ posted_data.end_time }}{% else %}{{ end_time }}{% endif %}"  style="height: 32px;" id="id_end_time" name="end_time" placeholder="点击选取结束时间 " onFocus="WdatePicker({isShowClear:false,readOnly:true,dateFmt: 'yyyy-MM-dd'})" >
                </div>
                <div class="input-group" style="margin-top: 15px">
                    <input type="text" class="form-control" id="search_keyword" placeholder="订单号或运单号或产品名称" name="search_keyword" value="{{ search_keyword}}" maxlength="30">
                     <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>
                        <button id="cancel_search" type="button" class="btn btn-default"><i class="fa fa-times"></i> 取消</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {% if search_keyword %}
            <p></p>
            <div class="alert alert-warning">
                <p>关键字： “{{ search_keyword }}”， 搜索结果：{{ paging.item_count }}</p>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
        {% if paging.total_pages_count > 0 %}
            <ul class="pagination">
                  {% if  paging.page_index ==  1  %}
                         <li><a style= "opacity: 0.2" disabled="true">&laquo;</a></li>
                  {% endif %} 
                  {% if paging.page_index != 1 %}     
                         <li><a  href="javascript:;" onclick='$("#prevpage_{{paging.prev_page}}").submit();'>&laquo;</a></li>
                   {% endif %} 
                {% for page in paging.pages %}
                   <li {% if page == paging.page_index %}class="active"{% endif %}><a href="javascript:;" onclick='$("#choosepage_{{page}}").submit();'>{{ page }}</a></li>             
                {% endfor %}
                {% if  paging.page_index ==  paging.total_pages_count  %}
                            <li><a  style= "opacity: 0.2" disabled="true">&raquo;</a></li>
                 {% endif %} 
                 {% if paging.page_index != paging.total_pages_count %}  
                            <li><a href="javascript:;" onclick='$("#nextpage_{{paging.next_page}}").submit();'>&raquo;</a></li>  
                 {% endif %} 
                <div class="clearfix"></div>
                <p>
                    第{{ paging.page_index }}页/共{{ paging.total_pages_count }}页 &nbsp;&nbsp;&nbsp;&nbsp;
                 {% if  paging.page_index ==  1  %}
                    <a disabled="true">首页</a> / 
                 {% endif %}   
                 {% if  paging.page_index !=  1  %}
                    <a href="javascript:;" onclick='$("#first_page").submit();'>首页</a> / 
                 {% endif %}   
                  
                 {% if  paging.page_index ==  paging.total_pages_count  %}
                          <a disabled="true">尾页</a>
                 {% endif %} 
                 {% if paging.page_index != paging.total_pages_count %}  
                        <a  href="javascript:;" onclick='$("#last_page").submit();'>尾页</a>
                 {% endif %} 
                 {#*****************************首页表单******************#}
          			<form id="first_page" class="hidden" role="" method="post" action="{% url 'bms:order_list' '1'  %}"> {% csrf_token %}
		                <input type="hidden"  name="state"{% if get_data.state %} value="{{get_data.state}}"{% else %}value="active"{% endif %}>
		                <input type="hidden"  name="pay_state"{% if get_data.pay_state %} value="{{get_data.pay_state}}"{% else %}value="all_order"{% endif %}>
		                <input type="hidden"  name="user_type"{% if get_data.user_type %} value="{{get_data.user_type}}"{% else %}value=""{% endif %}>
		                <input type="hidden"   name="client_sign"{% if get_data.id_client %} value="{{get_data.id_client}}"{% else %}value=""{% endif %}>
		                <input type="hidden"  name="search_keyword"{% if search_keyword %} value="{{search_keyword}}"{% else %}value=""{% endif %}>
		               <input type="hidden"  name="start_time" value="{% if request.POST %}{{ posted_data.start_time }}{% else %}{{ start_time }}{% endif %}" >
				                <input type="hidden"   name="end_time"  value="{% if request.POST %}{{ posted_data.end_time }}{% else %}{{ end_time }}{% endif %}" >
		                <input type="submit" name="argsubmit" style="display:none"/>
	            </form>  
	          {#*****************************尾页表单******************#}
	         		 <form id="last_page" class="hidden" role="" method="post" action="{% url 'bms:order_list' paging.total_pages_count %}"> {% csrf_token %}
				                <input type="hidden"  name="state"{% if get_data.state %} value="{{get_data.state}}"{% else %}value="active"{% endif %}>
				                <input type="hidden"  name="pay_state"{% if get_data.pay_state %} value="{{get_data.pay_state}}"{% else %}value="all_order"{% endif %}>
				                <input type="hidden"  name="user_type"{% if get_data.user_type %} value="{{get_data.user_type}}"{% else %}value=""{% endif %}>
				                <input type="hidden"   name="client_sign"{% if get_data.id_client %} value="{{get_data.id_client}}"{% else %}value=""{% endif %}>
				                <input type="hidden"  name="search_keyword"{% if search_keyword %} value="{{search_keyword}}"{% else %}value=""{% endif %}>
				               <input type="hidden"  name="start_time" value="{% if request.POST %}{{ posted_data.start_time }}{% else %}{{ start_time }}{% endif %}" >
				                <input type="hidden"   name="end_time"  value="{% if request.POST %}{{ posted_data.end_time }}{% else %}{{ end_time }}{% endif %}" >
				                <input type="submit" name="argsubmit" style="display:none"/>
			            </form> 
			            
			            
			    {#*****************************上一页表单******************#}
	         		 <form id="prevpage_{{paging.prev_page}}" class="" role="" method="post" action="{% url 'bms:order_list' paging.prev_page %}"> {% csrf_token %}
				                <input type="hidden"  name="state"{% if get_data.state %} value="{{get_data.state}}"{% else %}value="active"{% endif %}>
				                <input type="hidden"  name="pay_state"{% if get_data.pay_state %} value="{{get_data.pay_state}}"{% else %}value="all_order"{% endif %}>
				                <input type="hidden"  name="user_type"{% if get_data.user_type %} value="{{get_data.user_type}}"{% else %}value=""{% endif %}>
				                <input type="hidden"   name="client_sign"{% if get_data.id_client %} value="{{get_data.id_client}}"{% else %}value=""{% endif %}>
				                <input type="hidden"  name="search_keyword"{% if search_keyword %} value="{{search_keyword}}"{% else %}value=""{% endif %}>
				               <input type="hidden"  name="start_time" value="{% if request.POST %}{{ posted_data.start_time }}{% else %}{{ start_time }}{% endif %}" >
				                <input type="hidden"   name="end_time"  value="{% if request.POST %}{{ posted_data.end_time }}{% else %}{{ end_time }}{% endif %}" >
				                <input type="submit" name="argsubmit" style="display:none"/>
			            </form> 
			    {#*****************************下一页表单******************#}
	         		<form id="nextpage_{{paging.next_page}}" class="" role="" method="post" action="{% url 'bms:order_list' paging.next_page %}"> {% csrf_token %}
				                <input type="hidden"  name="state"{% if get_data.state %} value="{{get_data.state}}"{% else %}value="active"{% endif %}>
				                <input type="hidden"  name="pay_state"{% if get_data.pay_state %} value="{{get_data.pay_state}}"{% else %}value="all_order"{% endif %}>
				                <input type="hidden"  name="user_type"{% if get_data.user_type %} value="{{get_data.user_type}}"{% else %}value=""{% endif %}>
				                <input type="hidden"   name="client_sign"{% if get_data.id_client %} value="{{get_data.id_client}}"{% else %}value=""{% endif %}>
				                <input type="hidden"  name="search_keyword"{% if search_keyword %} value="{{search_keyword}}"{% else %}value=""{% endif %}>
				               <input type="hidden"  name="start_time" value="{% if request.POST %}{{ posted_data.start_time }}{% else %}{{ start_time }}{% endif %}" >
				                <input type="hidden"   name="end_time"  value="{% if request.POST %}{{ posted_data.end_time }}{% else %}{{ end_time }}{% endif %}" >
				                <input type="submit" name="argsubmit" style="display:none"/>
			            </form> 
			         {#*****************************每一页表单******************#}    
			      {% for page in paging.pages %}
				            <form id="choosepage_{{page}}" class="" role="" method="post" action="{% url 'bms:order_list' page%}"> {% csrf_token %}
				                <input type="hidden"  name="state"{% if get_data.state %} value="{{get_data.state}}"{% else %}value="active"{% endif %}>
				                <input type="hidden"  name="pay_state"{% if get_data.pay_state %} value="{{get_data.pay_state}}"{% else %}value="all_order"{% endif %}>
				                <input type="hidden"  name="user_type"{% if get_data.user_type %} value="{{get_data.user_type}}"{% else %}value=""{% endif %}>
				                <input type="hidden"   name="client_sign"{% if get_data.id_client %} value="{{get_data.id_client}}"{% else %}value=""{% endif %}>
				                <input type="hidden"  name="search_keyword"{% if search_keyword %} value="{{search_keyword}}"{% else %}value=""{% endif %}>
				                <input type="hidden"  name="start_time" value="{% if request.POST %}{{ posted_data.start_time }}{% else %}{{ start_time }}{% endif %}" >
				                <input type="hidden"   name="end_time"  value="{% if request.POST %}{{ posted_data.end_time }}{% else %}{{ end_time }}{% endif %}" >
				                <input type="submit" name="argsubmit" style="display:none"/>
				            </form>     
                {% endfor %}
                </p>
            </ul>
        {% endif %}
        </div>
        <div class="col-sm-4">
            <br/><br/>
            <a class="btn btn-primary pull-right" style="margin-left: 10px" href="{% url 'bms:order_create' %}"><i class="fa fa-plus"></i> 创建订单</a>
            
            <a class="btn btn-primary pull-right" style="margin-left: 10px" onclick="import_insurance()"><i class="fa fa-plus"></i>批量录入保单号</a>
            <br/><br/>
            </div>
            <div class="col-sm-8">&nbsp;</div>
            <div class="col-sm-4">
            <a class=" btn btn-primary pull-right" data-toggle="modal" data-target="#create_order_list_modal"style="margin-left: 10px"><i class="fa fa-plus"></i> 砖头出单</a>

            <form id="order_export_search_form" class="form-inline" role="form" method="post" action="{% url 'bms:order_export' %}"> {% csrf_token %}
                <input type="hidden" value="" id="export_id_search_keyword" name="search_keyword">
                <input type="hidden" value="" id="export_id_start_time" name="start_time">
                <input type="hidden" value="" id="export_id_end_time" name="end_time">
                <input type="hidden" value="" id="export_id_state" name="state">
                <input type="hidden" value="" id="export_id_pay_state" name="pay_state">
                <input type="hidden" value="" id="export_id_user_type" name="user_type">
                <input type="hidden" value="" id="export_id_client_sign" name="client_sign">
                <button class="btn btn-primary pull-right" type="submit" onclick="order_export()"style="margin-left: 10px"><i class="fa fa-plus"></i> 批量导出订单</button>
            </form>
        </div>

    </div>
{% endblock %}


{% block page_middle %}
    {% if message and message != '' %}
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-warning">{{ message }}</div>
            </div>
        </div>
    {% endif %}

    <div class="row" style="margin-top: 10px">
        <div class="col-sm-12">
            <div class="list-group" id="notice_group">
                <input type="hidden" id="page_index" name="page_index" value="{{ page_index }}"/>
                    <div class="list-group-item">
                        <div class="row" >
{#                            <div class="col-sm-1">#}
{#                            </div>#}
{#                            <div class="col-sm-2">#}
{#                                <p class="list-group-item-text">认证目标</p>#}
{#                            </div>#}
                            <div class="col-sm-2">
                                <p class="list-group-item-text text-center">订单号</p>
                            </div>
                            <div class="col-sm-2">
                                <p class="list-group-item-text text-center">产品名称</p>
                            </div>
                            <div class="col-sm-2">
                                <p class="list-group-item-text text-center">被保险人名称</p>
                            </div>
                            <div class="col-sm-1">
                                <p class="list-group-item-text text-center">运单号</p>
                            </div>
                            <div class="col-sm-2">
                                <p class="list-group-item-text text-center">车号</p>
                            </div>
                            <div class="col-sm-2">
                                <p class="list-group-item-text text-center">下单日期</p>
                            </div>
                            <div class="col-sm-1">
                                <p class="list-group-item-text text-center">订单状态</p>
                            </div>
{#                            <div class="col-sm-2">#}
{#                                <p class="list-group-item-text">认证状态</p>#}
{#                            </div>#}
                        </div>
                    </div>
                    {% for order in orders %}
{#                        <a href="" class="list-group-item">#}
                        <a href="{% url 'bms:order_detail' order.id %}" class="list-group-item {% if order.is_hidden %}list-group-item-danger{% endif %}">
                            <div class="row">
                                <div class="col-sm-2">
                                    <p class="list-group-item-text text-center"><strong>{{ order.paper_id }}</strong></p>
                                </div>
                                <div class="col-sm-2">
                                    <p class="list-group-item-text text-center"><strong>{{ order.insurance_product.name }}</strong></p>
                                </div>
                                <div class="col-sm-2">
                                    <p class="list-group-item-text text-center"><strong>{{ order.insured }}</strong></p>
                                </div>
                                <div class="col-sm-1"style='word-wrap:break-word;word-break:break-all;'>
                                    <p class="list-group-item-text text-center"><strong>{{ order.transport_id|DefaultIfNull:"无" }}</strong></p>
                                </div>
                                <div class="col-sm-2">
                                    <p class="list-group-item-text text-center"><strong>{{ order.plate_number|DefaultIfNull:"无车牌号" }}</strong></p>
                                </div>
                                <div class="col-sm-2">
                                    <p class="list-group-item-text text-center">{{ order.expectStartTime|date:'Y年m月d日' }}</p>
                                </div>
                                <div class="col-sm-1">
                                    <p class="list-group-item-text text-center"><strong>{{ order|displayName:"state" }}</strong></p>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
       </div>
    </div>




        {#批量导入保单号模态框#}
<div class="modal fade" id="confirm_insurance_modal" data-backdrop="static" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<form id="insurance_form" class="form" method="post" action="{% url 'bms:import_insurance' %}" enctype="multipart/form-data">{% csrf_token %}
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">
							Close
						</span>
					</button>
                    <input type="hidden" value="" id="modal_id_search_keyword" name="search_keyword">
                    <input type="hidden" value="" id="modal_id_start_time" name="start_time">
                    <input type="hidden" value="" id="modal_id_end_time" name="end_time">
                    <input type="hidden" value="" id="modal_id_state" name="state">
                    <input type="hidden" value="" id="modal_id_pay_state" name="pay_state">
                    <input type="hidden" value="" id="modal_id_user_type" name="user_type">
                    <input type="hidden" value="" id="modal_id_client_sign" name="client_sign">
					<h4 class="modal-title">
						<i class="fa fa-save">
						</i>
						批量录入保单号
					</h4>
				</div>
				<div class="modal-body">
                    <div class="form-group" >
                        <label class="control-label" for="id_insurance_image"><i class="fa fa-picture-o"></i>保单照片: </label>
                        <input class="filestyle" type="file" id="id_insurance_image_list" name="insurance_image_list" data-icon="true" data-input="true" data-buttonText="选择图片" data-iconName="glyphicon-inbox" multiple>
                    </div>
                    <div class="form-group" >
                        <label for="id_insurance_id"><i class="fa fa-user"></i> *保单号： </label>
                        <input class="form-control"  id="id_insurance_id" name="insurance_id" type="text"
                               value="{{ posted_data.insurance_id|default_if_none:'' }}" maxlength="100" required >
                    </div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger" id="id_modal"><i class="fa fa-save"></i>
						确定
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<i class="fa fa-times">
						</i>
						退 出
					</button>
				</div>
			</div>
    	</form>
	</div>
</div>



{# 批量创建订单模态框 #}
<div class="modal fade" id="create_order_list_modal" data-backdrop="static" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<form id="insurance_form" class="form" method="post" action="{% url 'bms:input_order_list'  %}" enctype="multipart/form-data">{% csrf_token %}
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">
							Close
						</span>
					</button>
					<h4 class="modal-title">
						<i class="fa fa-save">
						</i>
						批量创建订单
					</h4>
				</div>
				<div class="modal-body">
				<!-- 添加三种上传方式 -->
					<div class="form-group" >
                        <table class="table table-bordered table-hover">
			                   <tbody>
			                           <tr>
			                                <td class="info  td_su_width">订单类型</td>
			  			      				<td class="active "colspan="" >
			  			      					<select id="order_create_style" name="order_create_style" class="  " >
									                    <option value="car"> 运单保险 </option>
									            </select>
			  			      				</td>
			  			      				<td class="info  td_su_width">订单用户</td>
			  			      				<td class="active "colspan="" >
			  			      					<select id="order_create_client" name="order_create_client" class=""   style ="width:100px" >
								                    <option selected="selected" value="">  </option>
								                            {% for client in clients %}
								                                <option value="{{ client.id }}" >{{ client.profile.phone  }}--{% if client.company_name %}{{ client.company_name }}{% else %}{{ client.name }}{% endif %}</option>
								                            {% endfor %}
								                   </select>
			  			      				</td>
			  			      		</tr>
			  			      		<tr>
			  			      				<td class="info  td_su_width">订单导入文档</td>
			  			      				<td class="active "colspan="3" >
					  			      				<input class="filestyle" type="file" id="" name="order_create_file" data-icon="true" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
					  			      				data-input="true" data-buttonText="选择文件" data-iconName="glyphicon-inbox">
										    </td>
			                           
			                           </tr>
			                   </tbody>
			           </table>
                    </div>

				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-danger" id="id_modal"><i class="fa fa-save"></i>
						确定
					</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<i class="fa fa-times">
						</i>
						退 出
					</button>
				</div>
			</div>
    	</form>
	</div>
</div>
{% endblock %}

{% block page_bottom %}
{% endblock %}


{% block script_block %}
    <script type="text/javascript">

        //“全部”按钮的响应事件，清空搜索关键字，然后提交搜索
        $('#cancel_search').click(function(event) {
            console.log("click cancel_search");
            $('#search_keyword').val('');
            $('#id_start_time').val('');
            $('#id_end_time').val('');
            $('#order_search_form').submit();
          });
        function change_state(){
            $('#order_search_form').submit();
        }
        function import_insurance(){
            var search_keyword = $('#search_keyword').val();
            var start_time  =  $('#id_start_time').val();
            var end_time  =  $('#id_end_time').val();
            var state = $('#id_state').val();
            var pay_state = $('#id_pay_state').val();
            var user_type = $('#id_user_type').val();
            var client_sign = $('#id_client_sign').val();
{#            alert(state+','+pay_state+','+user_type+','+client_sign);#}
            $('#modal_id_search_keyword').val(search_keyword);
            $('#modal_id_start_time').val(start_time);
            $('#modal_id_end_time').val(end_time);
            $('#modal_id_state').val(state);
            $('#modal_id_pay_state').val(pay_state);
            $('#modal_id_user_type').val(user_type);
            $('#modal_id_client_sign').val(client_sign);
            $('#confirm_insurance_modal').modal('show');
        }


      $(function(){
            $('#order_searcha_form').formValidation({
                // I am validating Bootstrap form
                framework: 'bootstrap',
                locale : 'zh_CN',
                // Feedback icons
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },

                // List of fields and their validation rules
                fields: {
                    start_time: {
                        validators: {
                            regexp: {
                                regexp:  /^((?:19|20)[0-9][0-9]-(?:(?:0[1-9])|(?:1[0-2]))-(?:(?:[0-2][1-9])|(?:[1-3][0-1])) (?:(?:[0-2][0-3])|(?:[0-1][0-9])):[0-5][0-9]:[0-5][0-9])|\s{0}$/ ,
                                message: '请填写正确的时间格式'
                            }
                        }
                    },
                    end_time: {
                        validators: {
                            regexp: {
                                regexp:  /^(?:19|20)[0-9][0-9]-(?:(?:0[1-9])|(?:1[0-2]))-(?:(?:[0-2][1-9])|(?:[1-3][0-1])) (?:(?:[0-2][0-3])|(?:[0-1][0-9])):[0-5][0-9]:[0-5][0-9]$/ ,
                                message: '请填写正确的时间格式'
                            }
                        }
                    }
                }
            });
        });

    function order_export(){
        var search_keyword = $('#search_keyword').val();
        var start_time  =  $('#id_start_time').val();
        var end_time  =  $('#id_end_time').val();
        var state = $('#id_state').val();
        var pay_state = $('#id_pay_state').val();
        var user_type = $('#id_user_type').val();
        var client_sign = $('#id_client_sign').val();
        $('#export_id_search_keyword').val(search_keyword);
        $('#export_id_start_time').val(start_time);
        $('#export_id_end_time').val(end_time);
        $('#export_id_state').val(state);
        $('#export_id_pay_state').val(pay_state);
        $('#export_id_user_type').val(user_type);
        $('#export_id_client_sign').val(client_sign);
        $('#order_export_search_form').submit()
    }

    </script>
{% endblock %}





 {% if paging.total_pages_count > 0 %}
            <ul class="pagination">
                <li><a href="javascript:;" onclick='$("#prevpage_{{paging.prev_page}}").submit();'>&laquo;</a></li>
                 <form id="prevpage_{{paging.prev_page}}" class="" role="" method="post" action="{% url 'bms:head_company_list' paging.prev_page %}"> {% csrf_token %}
				                <input type="hidden"  name="state"{% if get_data.state %} value="{{get_data.state}}"{% else %}value="active"{% endif %}>
				                <input type="hidden"  name="search_keyword"{% if search_keyword %} value="{{search_keyword}}"{% else %}value=""{% endif %}>
				                <input type="submit" name="argsubmit" style="display:none"/>
				    </form>
                
                {% for page in paging.pages %}
                    <li {% if page == paging.page_index %}class="active"{% endif %}><a href="javascript:;" onclick='$("#prevpage_{{paging.prev_page}}").submit();'>{{ page }}</a></li>
                    <form id="prevpage_{{paging.prev_page}}" class="" role="" method="post" action="{% url 'bms:head_company_list' paging.prev_page %}"> {% csrf_token %}
				                <input type="hidden"  name="state"{% if get_data.state %} value="{{get_data.state}}"{% else %}value="active"{% endif %}>
				                <input type="hidden"  name="search_keyword"{% if search_keyword %} value="{{search_keyword}}"{% else %}value=""{% endif %}>
				                <input type="submit" name="argsubmit" style="display:none"/>
				    </form>
                {% endfor %}
                <li><a href="javascript:;" onclick='$("#prevpage_{{paging.prev_page}}").submit();'>&raquo;</a></li>
                 <form id="prevpage_{{paging.prev_page}}" class="" role="" method="post" action="{% url 'bms:head_company_list' paging.prev_page %}"> {% csrf_token %}
				                <input type="hidden"  name="state"{% if get_data.state %} value="{{get_data.state}}"{% else %}value="active"{% endif %}>
				                <input type="hidden"  name="search_keyword"{% if search_keyword %} value="{{search_keyword}}"{% else %}value=""{% endif %}>
				                <input type="submit" name="argsubmit" style="display:none"/>
				    </form>
                <div class="clearfix"></div>
                <p>
                    第{{ paging.page_index }}页/共{{ paging.total_pages_count }}页 &nbsp;&nbsp;&nbsp;&nbsp;

                    <a href="{% url 'bms:head_company_list' '1' %}">首页</a> / <a href="{% url 'bms:head_company_list' paging.total_pages_count %}">尾页</a>
                </p>
            </ul>
        {% endif %}