{% extends 'wss/base.html' %}
{% load static %}
{% block title_block %}
找回密码
{% endblock %}

{% block container_block %}

{% if message %}
    <div class="weui_dialog_alert">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示</strong></div>
            <div class="weui_dialog_bd">{{ message }}</div>
            <div class="weui_dialog_ft">
                <a onclick="close_dialog();" class="weui_btn_dialog primary">确定</a>
            </div>
        </div>
    </div>
{% endif %}

<div class="top">
		<table class="tabel" border="0" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
						<td width="23%" valign="middle">
							   <a class="btn1" onclick="history.go(-1)"><i class="fa fa-chevron-left"></i></a> 
						</td>
						<td class="wz" width="53%" valign="middle" align="center">
								<span id="toptitle">
										<i class="fa    fa-edit"></i>&nbsp;<strong>找回密码</strong>
								</span>
						</td>
						<td width="23%" valign="middle" align="right">
						<a id="aso" href="#"></a>
						</td>
				</tr>
			</tbody>
		</table>
 </div>

    <form method="post" action="{% url 'wss:send_code' %}" style="padding-top:30px;">{% csrf_token %}
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
           <!--      <div class="weui_cell_hd" style="width:25%;"><label class="weui_label">手机号</label></div> -->
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" value="{{ posted_data.phone }}" id="id_phone" type="text" pattern="[0-9a-zA-Z_]*" placeholder="手机号" name="phone" style="height: 37px;"/>
                </div>
            </div>
            <div class="weui_cell weui_vcode">
<!--                 <div class="weui_cell_hd" style="width:25%;"><label class="weui_label">验证码</label></div> -->
                <div class="weui_cell_bd weui_cell_primary">
                  <input class="weui_input" type="number" placeholder="验证码" name="verification_code" style="height: 37px;">
                </div>
                <div class="weui_cell_ft" style="width:40%;">
                  <button type="button"  id="sent_code" name="sent_code"  onclick="send_code();" style="height: 39px;border-radius: 0;margin-right: 14px;width:90%;	background:#5172D5;color:#FFF;border:0px;">发送验证码</button>
                  <input class="" type="hidden" style="width: 75%;text-align: center;margin-left: auto;margin-right: auto;padding-left: 14px;padding-right: 14px;height: 39px;border: 2px solid #eeeeee;border-radius: 0;" id="count_change" value="60">
                </div>
            </div>
        </div>
        <div class="weui_opr_area">
            <p class="weui_btn_area">
                <button class="weui_btn weui_btn_primary" type="submit">下一步</button>
            </p>
        </div>
    </form>
{#    首页所在位置，进入页面后的默认页面#}
{% endblock %}

{% block page_block %}
{#    Page所在，微信页面的Page使用PageManager管理，详见"js/we-example.js"#}
{#    Page是一个类似于Modal的概念#}
{% endblock %}
{% block script_block %}
{#    对于页面中的Page需要使用对应的js来控制页面跳转#}
    <script type="text/javascript">
     function countDown_code() {
        $('#sent_code').attr('disabled',"disabled");
        var num = parseInt($('#count_change').val());
        if (num >= 0) {
            var str = '';
           str +=  '重新发送'+(num);
            document.getElementById('sent_code').innerHTML = str;
            $('#count_change').val(num-1);
//{#            console.log(str);#}
            setTimeout(countDown_code, 1000);
        }
        else {
           $('#sent_code').removeAttr('disabled');
            $('#count_change').val(60);
            $('#sent_code').text('重新发送')
        }
    }


    function send_code(){

        var phone = document.getElementById('id_phone').value;
//{#        var pic_code_value = $('#id_pic_code_value').val().toLowerCase().trim();#}
//{#        var pic_code = $('#name_pic_code').val().toLowerCase().trim();#}
//{#        if(pic_code_value==pic_code){#}
              if(phone){

            countDown_code();

           $.ajax({
                url:"/pss/send/verification_code/",
                data:{verification_type:"reset_password",phone:phone},
                type:'POST',
                dataType:'json',
                success:function(data){
//    {#                console.log(data);#}
                    if(data['code'] == 0){
                        $('#back_password_form').addClass('non');
                        $('#back_form').removeClass('non');
                    }else{
                        alert(data['message']);
                    }
                },
                error:function(){
                    $('#alerts').html("网络超时，用户操作失败");
                }

            });
            }else{
                alert('请填写正确的手机号码')
            }
//{#        }#}
//{#        else{#}
//{#            change_pic_code();#}
//{#            alert("图片验证码错误");#}
//{#        }#}

}
    </script>
{% endblock %}