{% extends 'wss/base.html' %}
{% load static %}
{% block title_block %}
找回密码
{% endblock %}

{% block container_block %}

{% if message %}
    <div class="weui_dialog_alert">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示</strong></div>
            <div class="weui_dialog_bd">{{ message }}</div>
            <div class="weui_dialog_ft">
                <a onclick="close_dialog();" class="weui_btn_dialog primary">确定</a>
            </div>
        </div>
    </div>
{% endif %}

	<div class="top">
			<table class="tabel" border="0" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
							<td width="23%" valign="middle">
								   <!-- <a class="btn1" onclick="history.go(-1)"><i class="fa fa-chevron-left"></i></a>  -->
							</td>
							<td class="wz" width="53%" valign="middle" align="center">
									<span id="toptitle">
											<i class="fa    fa-edit"></i>&nbsp;<strong>重置密码</strong>
									</span>
							</td>
							<td width="23%" valign="middle" align="right">
							<a id="aso" href="#"></a>
							</td>
					</tr>
				</tbody>
			</table>
	 </div>
    <form method="post" action="{% url 'wss:update_password' %}" style="padding-top:30px;">{% csrf_token %}
        <input type="hidden" name="hidden_phone" value="{{ phone }}">
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
         <!--        <div class="weui_cell_hd"><label class="weui_label">新密码</label></div> -->
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="password" placeholder="请输入密码" name="password" style="height: 37px;"/>
                </div>
            </div>
            <div class="weui_cell">
<!--                 <div class="weui_cell_hd"><label class="weui_label">确认密码</label></div> -->
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" type="password" placeholder="请再次输入密码" name="password_again" style="height: 37px;"/>
                </div>
            </div>
            <div class="weui_opr_area">
                <p class="weui_btn_area">
                    <button class="weui_btn weui_btn_primary" type="submit">提交</button>
                </p>
            </div>
        </div>
    </form>
{#    首页所在位置，进入页面后的默认页面#}
{% endblock %}

{% block page_block %}
{#    Page所在，微信页面的Page使用PageManager管理，详见"js/we-example.js"#}
{#    Page是一个类似于Modal的概念#}
{% endblock %}
{% block script_block %}
{#    对于页面中的Page需要使用对应的js来控制页面跳转#}
{% endblock %}