{% extends 'wss/base.html' %}
{% load static %}
{% block title_block %}
成功
{% endblock %}

{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/weui-example.css' %}"/>
{% endblock %}

{% block container_block %}
<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_success weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">操作成功</h2>
        <p class="weui_msg_desc">{{ message }}</p>
    </div>
    <div class="weui_opr_area">
        <p class="weui_btn_area">
            <a href="javascript:;" class="weui_btn weui_btn_dialog weui_btn_primary" onclick="close_window()">确定</a>
{#            <a href="#" class="weui_btn weui_btn_default">取消</a>#}
        </p>
    </div>
</div>

{% endblock %}

{% block page_block %}
{#    Page所在，微信页面的Page使用PageManager管理，详见"js/we-example.js"#}
{#    Page是一个类似于Modal的概念#}
{% endblock %}
{% block script_block %}
{#    对于页面中的Page需要使用对应的js来控制页面跳转#}
{% endblock %}